.main-contentshop {
padding: 30px 0 70px;
}
.main-contentshop .cp-pagination {
padding-top: 30px;
border-top: none;
}
.filter-select {
margin-bottom:
}
.cp-itempage, .cp-filter-title {
display: inline-block;
margin-left: 10px;
max-width: 48%;
}
.filter-select .chosen-container {
width: auto !important;
max-width: 100%
}
.display-product-option {
overflow: hidden;
}
.display-product-option > li {
float: left;
width: 40px;
height: 40px;
background-color: #ffffff;
border: 1px solid #e5e5e5;
background-position: center;
background-repeat: no-repeat;
text-indent: -999px;
list-style: none;
cursor: pointer;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.display-product-option > li:hover,
.display-product-option > li.selected {
background-color: #ff4949;
border-color: #ff4949;
}
.display-product-option > li.view-as-grid {
background-image: url(//i0.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/grid.png);
}
.display-product-option > li.selected.view-as-grid,
.display-product-option > li.view-as-grid:hover {
background-image: url(//i1.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/grid-active.png);
}
.display-product-option > li.view-as-list {
background-image: url(//i1.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/list.png);
}
.display-product-option > li.selected.view-as-list,
.display-product-option > li.view-as-list:hover {
background-image: url(//i3.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/list-active.png);
} .product .product-thumb {
position: relative;
overflow: hidden;
}
.product .onsale {
display: inline-block;
width: 30px;
height: 30px;
text-align: center;
line-height: 30px;
position: absolute;
top: 10px;
left: 10px;
border-radius: 50%;
color: #fff;
text-transform: uppercase;
font-size: 10px;
z-index: 10;
}
.product .title-product {
margin-bottom: 18px;
}
.product .title-product a {
color: inherit;
}
.product .title-product a:hover {
color: #ff4949;
}
.star-rating {
line-height: normal;
}
.star-rating i {
display: inline-block;
font-size: 13px;
color: #999999;
}
.star-rating .rated {
color: #ffcc00;
}
.product .product-button {
position: relative;
z-index: 2;
}
.product-button a {
width: 35px;
height: 30px;
text-align: center;
line-height: 30px;
color: inherit;
display: inline-block;
position: relative;
}
.product .product-button a .text-bt {
color: #ffffff;
background-color: rgba(0, 0, 0, 0.7);
line-height: 20px;
padding: 0 12px;
text-align: center;
position: absolute;
left: 50%;
bottom: 100%;
white-space: nowrap;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-ms-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
font-size: 11px;
opacity: 0;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.product .product-button a:hover .text-bt {
opacity: 1;
}
.product .product-button a .text-bt:after {
content: "\f0d7";
font-family: 'FontAwesome';
color: #000000;
position: absolute;
left: 50%;
bottom: -11px;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
}
.product .price {
display: table;
margin: 0 auto;
font-size: 30px;
color: #ff4949;
line-height: 100%;
margin-bottom: 20px;
}
.product .price del {
font-size: 13px;
color: #999999;
text-decoration: none;
line-height: 100%;
}
.product .price ins {
text-decoration: none;
float: left;
margin-right: 5px;
}
.product .add-to-cart {
position: relative;
text-align: center;
overflow: hidden;
background-color: #fff;
}
.product .add-to-cart:hover {
color: transparent;
}
.product .add-to-cart::before {
content: "\f291";
font-family: 'FontAwesome';
height: 100%;
width: 100%;
position: absolute;
left: 0;
top: -100%;
color: #ffffff;
line-height: 30px;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.product a.add-to-cart:hover::before {
top: 0;
}
.product .cp-countdown {
position: absolute;
bottom: 0;
left: 0;
text-align: center;
width: 250px;
max-width: 100%;
text-align: center;
height: 30px;
color: #ffffff;
background: #ff4949;
line-height: 30px;
z-index: 1;
white-space: nowrap;
} .product .cp-countdown {
width: 100%;
}
.product-item {
margin-top: 30px;
}
.product .product-inner {
border: 1px solid #e5e5e5;
padding: 9px;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.product:hover .product-inner {
border-color: #ff4949;
border-width: 2px;
}
.product .product-button {
color: #ffffff;
background-color: #ff4949;
width: 100%;
text-align: center;
height: 30px;
position: absolute;
bottom: -30px;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
left: 0;
}
.product .title-product {
font-size: 13px;
font-weight: 300;
}
.product:hover .product-button {
bottom: 0
}
.product .product-button a:hover {
background-color: rgba(0, 0, 0, 0.2);
}
.product .info-product {
text-align: center;
padding: 15px 0;
}
.product .star-rating {
font-size: 13px;
position: relative;
display: inline-block;
margin: 0 auto;
margin-bottom: 10px;
line-height: 22px;
}
.product .star-rating:before,
.product .star-rating > span:before {
content: "\f005\f005\f005\f005\f005";
font-family: 'FontAwesome';
color: #999999;
font-size: 13px;
line-height: 22px;
letter-spacing: 5px;
}
.product .star-rating > span {
font-size: 0;
position: absolute;
display: block;
top: 0;
left: 0;
overflow: hidden;
height: 23px;
}
.product .star-rating > span:before {
color: #ffcc00;
}
.product .add_to_cart_button.loading:after {
-webkit-animation: fa-spin 2s infinite linear;
animation: fa-spin 2s infinite linear;
content: "\f110";
font-family: 'FontAwesome';
margin-left: 5px;
display: inline-block;
}
.product .add_to_cart_button.added {
display: none;
}
.yith-wcwl-add-to-wishlist {
display: inline-block;
float: left;
margin: 0;
}
.product .product-button .clear {
display: none;
}
.product .product-button .compare-button {
display: inline-block;
float: left;
margin: 0 !important;
}
.product .product-button .inner {
display: table;
margin: 0 auto;
}
.product .yith-wcwl-add-to-wishlist > div {
display: inline-block;
float: left;
font-size: 0;
position: relative;
}
.product .yith-wcwl-add-to-wishlist > div img {
display: inline-block;
position: absolute;
top: 50%;
left: 50%;
margin: 0;
margin-top: -8px;
margin-left: -8px;
}
.product .yith-wcqv-button,
.product .compare,
.product .yith-wcwl-add-to-wishlist > div a {
font-size: 0;
width: 35px;
height: 30px;
text-align: center;
line-height: 30px;
color: inherit;
display: inline-block;
position: relative;
padding: 0;
color: #fff;
border-radius: 0;
float: left;
background-color: transparent;
}
.product .yith-wcqv-button:before,
.product .compare:before,
.product .yith-wcwl-add-to-wishlist > div a:before {
font-family: 'FontAwesome';
font-size: 13px;
}
.product .yith-wcqv-button:before {
content: "\f002";
}
.product .compare:before {
content: "\f24d";
}
.product .yith-wcwl-add-to-wishlist > div a:before {
content: "\f08a";
}
.product .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistaddedbrowse a:before,
.product .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistexistsbrowse a:before {
content: "\f00c";
} .product-list {
border-bottom: 1px solid #e5e5e5;
padding-bottom: 30px
}
.product-list:before,
.product-list:after {
display: table;
content: '';
}
.product-list:after {
clear: both;
}
.product .product-thumb img {
width: 100%
}
.product-list .product .product-thumb {
float: left;
width: 370px;
padding: 9px;
border: 1px solid #e5e5e5;
position: relative;
}
.product-list .product:hover .product-thumb {
border-color: transparent;
}
.product-list .product .product-thumb:after {
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
border: 2px solid #ff4949;
opacity: 0;
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
-webkit-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
}
.product-list .product:hover .product-thumb:after {
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.product-list .product {
overflow: hidden;
margin-top: 30px;
}
.product-list .product .info-product {
overflow: hidden;
padding-left: 20px;
text-align: left;
padding-top: 0;
}
.product-list .product .cp-countdown {
left: 9px;
right: 9px;
width: auto;
bottom: 9px;
}
.product-list .product .title-product {
font-size: 18px;
margin-bottom: 10px;
}
.product-list .product .star-rating {
display: block;
margin: 0;
margin-bottom: 10px;
}
.product-list .product .info-product .bottom-info {
border-top: 1px solid #e5e5e5;
padding-top: 13px;
overflow: hidden;
}
.product-list .product .info-product .bottom-info .product-excerpt {
float: left;
width: 73%;
padding-right: 35px;
}
.product-list .product .info-product .bottom-info .product-price-bt {
float: right;
width: 27%;
}
.product-list .product-excerpt {
margin-bottom: 23px
}
.product-list .product .product-button {
left: 9px;
right: 9px;
bottom: -30px;
width: auto;
}
.product-list .product:hover .product-button {
bottom: 9px;
}
.product-list-sidebar .product .product-thumb {
width: 270px;
}
.product-list-sidebar .product .price {
margin-bottom: 10px;
display: block;
} .product-slide.product-grid-2.nav-style2 .owl-nav {
top: -65px;
}
.product-slide.product-grid-2.nav-style2 .owl-nav > div {
font-size: 16px;
color: inherit;
}
.product-slide.product-grid-2.nav-style2 .owl-nav > div:hover {
color: #ff4949;
}
.product-grid-2 .product .product-thumb {
margin-bottom: 10px;
position: relative;
overflow: hidden;
}
.product-grid-2 .product .hover-thumb {
position: absolute;
left: 100%;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.3);
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.product-grid-2 .product:hover .hover-thumb {
left: 0;
}
.product-grid-2 .product .quickview {
width: 36px;
height: 36px;
text-align: center;
background: #ffffff;
color: inherit;
line-height: 36px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}
.product-grid-2 .product .quickview:hover {
background: #ff4949;
color: #ffffff;
}
.product-grid-2 .product .info-product {
border: 2px solid #e5e5e5;
padding: 23px;
text-align: center;
-webkit-transition: all 0.3s ease-out 0s;
-o-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
position: relative;
}
.product-grid-2 .product:hover .info-product {
border-color: transparent;
}
.product-grid-2 .product .info-product:after {
content: "";
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
border: 2px solid #ff4949;
opacity: 0;
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
-webkit-transition: all 0.3s ease-out 0s;
-o-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
z-index: -1;
}
.product-grid-2 .product:hover .info-product:after {
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.product-grid-2 .title-product {
font-weight: 300;
font-size: 18px;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 10px;
}
.product-grid-2 .product .price {
font-size: 18px;
font-weight: bold;
margin-bottom: 22px;
}
.product-grid-2 .product-button a {
width: 40px;
height: 40px;
text-align: center;
line-height: 36px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-ms-border-radius: 25px;
-o-border-radius: 25px;
border-radius: 25px;
border: 2px solid rgba(0, 0, 0, 0.05);
color: inherit;
padding: 0;
vertical-align: middle;
}
.product-grid-2 .product-button a:hover {
border-color: #ff4949;
background: #ff4949;
color: #ffffff;
}
.product-grid-2 .product .add-to-cart::before {
display: none;
}
.product-grid-2 .product-button a.add-to-cart {
width: 120px;
}
.product-grid-2 .product-button a.add-to-cart:hover {
font-size: 18px;
}
.product-grid-2 .product-excerpt {
margin-top: 25px;
} .product-grid-3 .product {
margin-bottom: 30px;
}
.product-grid-3 .product .product-thumb {
border: 1px solid #e5e5e5;
padding: 10px;
position: relative;
}
.product-grid-3 .product .hover-thumb {
position: absolute;
bottom: 10px;
left: 10px;
right: 10px;
overflow: hidden;
text-align: center;
color: #ffffff;
height: 40px;
line-height: 40px;
}
.product-grid-3 .product .hover-thumb .price {
float: left;
width: 50%;
height: 100%;
background: #ff4949;
color: inherit;
font-size: 18px;
font-weight: bold;
margin: 0;
line-height: inherit;
}
.product-grid-3 .product .hover-thumb .quickview {
float: left;
width: 50%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
color: inherit;
opacity: 0;
-webkit-transform: translateY(100%);
-ms-transform: translateY(100%);
-o-transform: translateY(100%);
transform: translateY(100%);
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.product-grid-3 .product:hover .hover-thumb .quickview {
opacity: 1;
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
}
.product-grid-3 .product .hover-thumb .quickview:hover {
color: #ff4949;
}
.product-grid-3 .product .price del {
font-weight: normal;
font-size: 13px;
text-decoration: line-through;
color: inherit;
}
.product-grid-3 .product .info-product {
padding: 25px 10px 0 10px;
text-align: left;
}
.product-grid-3 .product .title-product {
font-weight: normal;
font-size: 18px;
margin-bottom: 13px;
}
.product-grid-3 .product .star-rating {
margin-bottom: 10px
}
.product-grid-3 .product .product-excerpt {
margin-bottom: 25px;
}
.product-grid-3 .product .product-button {
text-align: right;
color: inherit;
background: none;
}
.product-grid-3 .product .product-button a {
width: auto;
line-height: 40px;
height: 40px;
vertical-align: middle;
}
.product-grid-3 .product .product-button a:hover {
color: #ff4949;
}
.product-grid-3 .product .product-button a.add-to-cart {
line-height: 36px;
padding: 2px 20px;
float: left;
} .product-grid-4 .product .product-thumb {
position: relative;
}
.product-grid-4 .product .product-thumb .product-button {
position: absolute;
right: 0;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.product-grid-4 .product .product-button > a {
display: block;
width: 40px;
height: 40px;
line-height: 40px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
border: 2px solid #e5e5e5;
margin: 10px 0;
background: #ffffff;
}
.product-grid-4 .product .product-button > a:hover {
border-color: #ff4949;
background: #ff4949;
color: #ffffff;
}
.product-grid-4 .info-product {
text-align: center;
padding: 25px;
color: #ffffff;
}
.product-grid-4 .title-product {
font-weight: normal;
font-size: 13px;
color: inherit;
margin-bottom: 10px;
line-height: 20px;
}
.product-grid-4 .title-product > a:hover {
color: inherit;
}
.product-grid-4 .product .price {
font-size: 18px;
font-weight: bold;
color: inherit;
}
.product-grid-4 .product .price del {
font-weight: normal;
font-size: 13px;
color: inherit;
text-decoration: line-through;
}
.product-grid-4 .product .add-to-cart {
color: #ffffff
}
.product-grid-4 .product .add-to-cart:hover {
background: #ffffff;
border-color: #ffffff;
color: #ff4949;
}
.product-grid-4 .product .add-to-cart::before {
display: none;
}
.product-slide.product-grid-4 {
padding-top: 60px;
}
.product-grid-4.dot-style1 .owl-dots {
top: 0;
bottom: auto;
}
.product-grid-4.dot-style1 .owl-dots .owl-dot:hover {
background: #ffffff;
} .main-contentshop .sidebar .title-widget {
margin-bottom: 30px
} .widget-categories-product li .number {
float: right;
font-size: 10px;
color: #999999;
}
.widget-categories-product .cp-acordion.accordion-style2 .ui-accordion-content {
margin-top: -10px
} .widget_price_filter .price_slider_wrapper {
border: 1px solid #e5e5e5;
padding: 25px 18px;
}
.widget_price_filter .price_slider_wrapper .price_slider_amount {
margin-top: 30px;
overflow: hidden;
}
.widget_price_filter .price_slider_wrapper .price_slider_amount .button {
display: inline-block;
}
.widget_price_filter .price_slider_wrapper .price_label {
float: right;
color: #999999;
margin-top: 10px;
}
.price_slider_wrapper .price_label span {
color: #000000;
}
.widget_price_filter .ui-slider-horizontal {
height: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
background: #ff4949;
border: none;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
background: #e5e5e5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
border: none;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle {
border: none;
width: 20px;
height: 20px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
margin-left: -10px;
top: -5px;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle[style="left: 0%;"],
.widget_price_filter .ui-slider-horizontal .ui-slider-handle[style="left: 100%;"] {
background: #555555;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle,
.widget_price_filter .ui-slider-horizontal .ui-slider-handle.ui-state-active {
background: #ff4949;
} .widget-list-products li {
list-style: none;
padding: 10px 0;
display: inline-block;
width: 100%;
}
.widget-list-products li .product-thumb {
float: left;
width: 70px;
}
.widget-list-products li .info-product {
display: block;
padding-left: 90px;
}
.widget-list-products .title-product {
font-size: inherit;
font-weight: normal;
}
.widget-list-products .product .price {
font-size: 18px;
margin-bottom: 0
}
.widget-list-products .product .title-product {
margin-bottom: 5px
} .widget-manufactures .list-manufacture {
list-style: none;
border: 1px solid #e5e5e5;
padding: 18px 20px 18px 25px;
}
.list-manufacture li .number {
color: #999999;
float: right;
font-size: 10px
} .widget-cats-icon .list-cats .item-cat {
border: 1px solid #e5e5e5;
padding: 15px 20px 15px 23px;
margin-bottom: 1px;
font-size: 11px;
}
.widget-cats-icon .list-cats .item-cat a {
color: inherit;
}
.widget-cats-icon .list-cats .item-cat a:hover {
color: #ff4949;
}
.widget-cats-icon .list-cats .icon-cat {
display: inline-block;
width: 50px;
} .item-category {
text-align: center;
margin-bottom: 30px;
list-style: none;
}
.item-category .img-cat {
margin-bottom: -100px;
padding: 0 50px;
}
.item-category .img-cat figure {
overflow: hidden;
}
.item-category .img-cat figure img {
-webkit-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
}
.item-category:hover .img-cat figure img {
-webkit-transform: scale(1.15);
-ms-transform: scale(1.15);
-o-transform: scale(1.15);
transform: scale(1.15);
}
.item-category .info-cat {
background: #ff4949;
color: #ffffff;
padding: 140px 50px 50px;
}
.item-category .info-cat h3 {
color: inherit;
font-weight: 300;
font-size: 30px;
margin-bottom: 20px;
}
.item-category .info-cat .number-item {
font-size: 13px;
}
.item-category .info-cat h3 a {
color: inherit;
}
.item-category .link-cat {
color: #ffffff;
border-color: #ffffff;
}
.item-category .link-cat:hover,
.item-category .link-cat:focus {
background: #ffffff;
color: #ff4949;
border-color: #ffffff;
} .product-detail .product_meta {
margin-bottom: 10px;
}
.product-detail .product_meta > span {
display: block;
}
.product-detail .product-main:after,
.product-detail .product-main:before {
content: "";
display: table;
clear: both;
}
.product-detail .product-main .product-gallery {
float: left;
}
.product-detail .product-main .product-info {
overflow: hidden;
padding-left: 45px;
}
.product-detail .price {
margin: 0;
margin-bottom: 20px;
}
.product-detail .product-gallery {
width: 47%;
}
.has-sidebar .product-detail .product-gallery {
width: 370px;
}
.has-sidebar .product-detail .product-main .product-info {
padding-left: 20px;
}
.product-detail .title-product {
margin-bottom: 10px;
}
.meta-product {
overflow: hidden;
line-height: 20px;
}
.meta-product li {
list-style: none;
display: inline-block;
color: #999999;
border-left: 1px solid #e5e5e5;
padding: 0 10px;
}
.meta-product .title-meta {
color: #000000;
margin-right: 5px;
}
.meta-product a {
color: inherit;
}
.meta-product a:hover {
color: #ff4949;
}
.product-detail .meta-rate .star-rating {
display: inline-block;
vertical-align: top;
margin-right: 10px;
}
.product-detail .meta-rate .meta-product {
display: inline-block;
}
.product-detail .meta-rate {
margin-bottom: 20px
}
.has-sidebar .product-detail .meta-rate {
margin-bottom: 12px
}
.product-detail .excerpt-product {
padding-top: 22px;
border-top: 1px solid #e5e5e5;
margin-bottom: 20px;
}
.has-sidebar .product-detail .excerpt-product {
padding-top: 10px;
}
.product-variable > div {
margin-bottom: 25px;
}
.has-sidebar .product-variable > div {
margin-bottom: 20px;
}
.product-variable .title-op {
font-size: 18px;
color: #000000;
display: inline-block;
min-width: 72px;
font-weight: bold;
}
.product-variable .select2 {
width: 330px !important;
max-width: 100%;
}
.product-variable .select2 {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-ms-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;
border-width: 2px;
padding-top: 6px;
padding-bottom: 6px;
}
.product-variable .select2.select2-container--open {
-webkit-border-radius: 20px 20px 0 0;
-moz-border-radius: 20px 20px 0 0;
-ms-border-radius: 20px 20px 0 0;
-o-border-radius: 20px 20px 0 0;
border-radius: 20px 20px 0 0;
}
.product-variable .select2-container--default .select2-selection--single .select2-selection__arrow {
height: 32px
}
.quantity .label-quantity {
font-size: 18px;
color: #000000;
display: inline-block;
min-width: 72px;
font-weight: bold;
vertical-align: top;
line-height: 36px;
}
.quantity .qty-box {
border: 2px solid #e5e5e5;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-ms-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;
padding: 0 15px;
overflow: hidden;
display: inline-block;
}
.quantity .qty-box input {
border: none;
color: #000000;
padding: 6px 0;
float: left;
background: none;
line-height: 24px;
}
.quantity .qty-box input[type="button"] {
width: 20px;
color: transparent;
}
.quantity .qty-box .input-text {
width: 100px;
text-align: center;
}
.quantity .qty-box .plus {
background: url(//i2.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/qty-plus.png) no-repeat center;
}
.quantity .qty-box .minus {
background: url(//i0.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/qty-minus.png) no-repeat center;
}
.variations_form .quantity {
display: inline-block;
}
.variations_form .add-to-cart {
display: inline-block;
margin-left: 10px;
vertical-align: top;
}
.product-detail .add-to-cart:hover {
color: #ffffff;
}
.product-detail .product-main {
margin-bottom: 65px;
position: relative;
}
.product-detail .owl-carousel.thumbnails {
padding: 0 30px;
margin-top: 10px;
}
.product-detail .owl-carousel.thumbnails a {
padding: 0;
width: 100%;
}
.product-detail .thumbnails .owl-prev,
.product-detail .thumbnails .owl-next {
position: absolute;
top: 50%;
margin-top: -15px;
color: #555555;
}
.owl-carousel .owl-item img {
transform-style: none;
}
.product-detail .thumbnails .owl-prev {
left: 0;
}
.product-detail .thumbnails .owl-next {
right: 0;
}
.product-detail .thumbnails .owl-prev .fa:before,
.product-detail .thumbnails .owl-next .fa:before {
content: "\f104";
font-family: 'FontAwesome';
font-size: 30px;
text-shadow: none;
}
.product-detail .thumbnails {
margin: 0 -5px;
overflow: hidden;
}
.product-detail .thumbnails a {
display: block;
width: 33.33333%;
float: left;
padding: 0 5px;
margin-top: 10px;
}
.product-detail .thumbnails.columns-2 a {
width: 50%;
}
.product-detail .thumbnails.columns-3 a {
width: 33.33333%;
}
.product-detail .thumbnails.columns-4 a {
width: 25%;
}
.product-detail .thumbnails.columns-5 a {
width: 20%;
}
.product-detail .thumbnails .owl-next .fa:before {
content: "\f105";
}
.product-detail .product-tabs .tab-style-1 .ui-tabs-nav::before {
display: none;
}
.product-detail .product-tabs .tab-style-1 .ui-tabs-nav {
padding-left: 0
}
.product-tabs .cp-tab-horizontal .ui-tabs-nav {
width: 220px
}
.product-tabs .cp-tab-horizontal .ui-tabs-panel {
padding-left: 45px;
}
.product-detail .desc-product .img-desc {
float: left;
width: 320px;
}
.product-detail .desc-product .text-desc {
overflow: hidden;
padding-left: 20px;
}
.product-gallery:after, .product-gallery:before {
content: "";
display: table;
clear: both;
}
.product-gallery .main-slide img {
width: 100%;
}
.pr-gallery-vertical {
border: 1px solid #e5e5e5;
padding: 9px;
}
.pr-gallery-vertical .bx-wrapper {
float: left;
margin: 0;
padding-right: 10px;
position: relative;
width: 86.79%;
}
.pr-gallery-vertical #thumb-slide {
float: left;
width: 13.21%;
}
.pr-gallery-vertical #thumb-slide a {
display: inline-block;
margin-bottom: 10px;
width: 100%;
}
.woocommerce-product-gallery {
border: none;
margin: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
}
@media (min-width: 992px) {
.woocommerce-product-gallery {
float: left;
width: 50%;
}
}
.woocommerce-product-gallery {
padding: 9px;
border: 1px solid #e5e5e5;
}
.woocommerce-product-gallery .flex-control-thumbs {
position: relative;
font-size: 0;
line-height: 0;
}
.flex-control-thumbs .owl-prev {
left: 0;
top: 50%;
position: absolute;
font-size: 30px;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.flex-control-thumbs .owl-next {
right: 0;
top: 50%;
position: absolute;
font-size: 30px;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.flex-control-thumbs .owl-nav span {
color: inherit;
margin: 0 5px;
}
.flex-direction-nav a::before {
content: "\f104";
font-family: 'FontAwesome';
font-size: 30px;
color: #555555;
text-shadow: none;
}
.flex-direction-nav a.flex-next::before {
content: "\f105";
}
.product-detail .cp-countdown {
left: 50%;
bottom: 9px;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
}
.product-detail .form-review input[type="text"],
.product-detail .form-review input[type="email"],
.product-detail .form-review textarea {
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
}
.product-detail .form-review > div {
margin-bottom: 20px;
}
.product-detail .form-review label {
font-weight: normal;
}
.product-detail .bottom-info {
overflow: hidden;
}
.product-detail .bottom-info .left-info {
float: left;
width: 50%;
padding: 20px 25px 20px 0;
border-top: 1px solid #e5e5e5;
}
.product-detail .bottom-info .right-info {
float: left;
width: 50%;
padding: 20px 0 20px 25px;
border-top: 1px solid #e5e5e5;
border-left: 1px solid #e5e5e5;
}
.product-variable .value-op {
display: inline-block;
vertical-align: middle;
}
.option-color .value-op a {
display: inline-block;
width: 20px;
height: 20px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
margin: 0 5px;
}
.product-variable .value-op a:first-child {
margin-left: 0
}
.option-color .value-op a.red {
background: #ff4949;
}
.option-color .value-op a.yellow {
background: #ffcc00;
}
.option-color .value-op a.green {
background: #5acd75;
}
.option-color .value-op a.white {
background: #ffffff;
border: 1px solid #e5e5e5;
}
.option-size .value-op a {
font-size: 18px;
text-align: center;
margin: 0 10px;
color: inherit;
}
.product-detail .product-button {
margin-top: 25px
}
.product-detail .product-button a {
color: #999999;
} .cp-product-latest {
padding-top: 40px;
border-top: 1px solid #e5e5e5;
margin-top: 50px;
}
.cp-product-latest > h4 {
margin-bottom: 0
}
.cp-product-latest .nav-style4 .owl-nav {
position: absolute;
right: 0;
top: -35px;
}
.cp-product-latest .nav-style4 .owl-nav > div {
display: inline-block;
position: static;
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
margin-left: 10px;
}
.product-grid.product-slide .product {
margin-bottom: 1px;
margin-top: 30px;
}
.product-detail .quantity {
display: inline-block;
float: left;
margin-right: 10px;
}
.product-type-simple .quantity .label-quantity {
display: none;
}  .product-brand .product-inner {
overflow: hidden;
}
.product-brand .product-inner .product-thumb {
float: left;
width: 58.18%;
}
.product-brand .product-inner .info-product {
float: left;
width: 41.82%;
}
.product-brand .slide-brand {
padding: 30px 10px;
border: 1px solid #e5e5e5;
border-top: none;
}
.product-brand .nav-style3 .owl-nav > div {
background: rgba(0, 0, 0, 0.3);
}
.product-brand .nav-style3 .owl-nav > div:hover {
background: #ff4949;
}
.product-grid .product-brand:hover .slide-brand {
border-width: 2px;
border-color: #ff4949;
}
.product-grid .product-brand:hover .product-inner {
border-bottom-color: #e5e5e5;
border-bottom-width: 1px;
} .cp-service-shop .list-service {
padding: 100px 0 100px 15px;
}
.cp-service-shop .item-service {
overflow: hidden;
}
.cp-service-shop .item-service .icon-service {
width: 100px;
height: 100px;
line-height: 100px;
text-align: center;
font-size: 60px;
color: #ff4949;
position: relative;
border: 1px solid #ff4949;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
float: left;
margin-bottom: 50px;
-webkit-transition: all 0.5s ease-out 0s;
-o-transition: all 0.5s ease-out 0s;
transition: all 0.5s ease-out 0s;
}
.cp-service-shop .item-service .icon-service:after {
content: "";
height: 50px;
width: 1px;
display: block;
background: #ff4949;
margin: -1px auto 0;
}
.cp-service-shop .item-service:last-child .icon-service {
margin-bottom: 0
}
.cp-service-shop .item-service:last-child .icon-service::after {
display: none;
}
.cp-service-shop .item-service:hover .icon-service {
background: #ff4949;
color: #ffffff;
}
.cp-service-shop .item-service .service-info {
overflow: hidden;
padding-left: 35px;
}
.cp-service-shop .item-service .title-service {
text-transform: lowercase;
font-size: 30px;
font-weight: normal;
margin-bottom: 15px;
-webkit-transition: all 0.3s ease-out 0s;
-o-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
}
.cp-service-shop .item-service:hover .title-service {
color: #ff4949;
}
.cp-service-shop .item-service .title-service a {
color: inherit;
}
.cp-service-shop .service-hover {
width: 562px;
height: 562px;
line-height: 562px;
text-align: center;
background: rgba(255, 255, 255, 0.5);
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
display: none;
margin-top: 20px;
padding: 0 15%;
} .page-shoppingcart {
padding: 20px 0 50px;
}
.shop_table {
border: none;
}
.shop_table td, .shop_table th {
border-width: 1px 0 0;
padding: 25px 10px;
}
.shop_table tr th:first-child,
.shop_table tr td:first-child {
border-left-width: 1px;
}
.shop_table tr th:last-child,
.shop_table tr td:last-child {
border-right: 1px solid #e5e5e5;
}
.shop_table.cart {
margin-bottom: 60px;
}
.shop_table td.product-thumbnail {
width: 90px;
}
.shop_table th {
font-size: 18px;
color: #000000
}
.shop_table td.product-remove {
text-align: center;
width: 60px;
}
.shop_table .remove {
width: 20px;
height: 20px;
line-height: 20px;
text-align: center;
color: #ffffff;
background: #ff4949;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
display: inline-block;
}
.shop_table td.product-name a {
display: block;
}
.shop_table td.product-name a.pr-name {
color: #000000;
}
.shop_table .amount {
font-size: 18px;
}
.shop_table .product-subtotal .amount {
font-weight: bold;
}
.shop_table .quantity .qty-box .input-text {
width: 40px;
}
.shop_table tfoot tr td, .shop_table tfoot tr td:last-child {
border-right: none;
border-left: none;
padding-left: 0;
padding-right: 0;
}
.shop_table td.actions div.coupon,
.shop_table td.actions div.button-cart {
width: 50%;
float: left;
}
.shop_table td.actions div.button-cart {
text-align: right;
}
.shop_table input[type="submit"],
.shop_table .button {
padding: 13px 35px;
border: none;
font-weight: bold;
}
.shop_table .checkout-button {
background: #333333;
}
.shop_table .checkout-button:hover {
background: #ff4949;
}
.shop_table .checkout-button .fa {
font-size: 30px;
color: #ffffff;
margin-left: 10px;
vertical-align: middle;
line-height: 24px;
}
.coupon .input-text {
width: 220px;
border-width: 3px;
padding: 10px 25px;
}
.coupon input[type="submit"] {
background: #f4f4f4;
color: #000000;
}
.coupon input[type="submit"]:hover {
background: #333333;
color: #ffffff;
}
.shipping_calculator > h4, .cart_totals > h4 {
margin-bottom: 25px;
}
.form-cart .chosen-container {
width: 100% !important;
color: #999999;
}
.form-cart .chosen-container-single .chosen-single {
padding-left: 20px
}
.form-cart .form-row:after,
.form-cart .form-row:before {
content: "";
display: table;
clear: both;
}
.form-cart .form-row {
margin-bottom: 15px;
}
.form-cart .form-row input {
width: 100%;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
}
.form-cart .form-row .width-50 {
width: 50%;
float: left;
}
.form-cart .form-row .width-50:nth-child(2n+1) {
padding-right: 5px
}
.form-cart .form-row .width-50:nth-child(2n) {
padding-left: 5px
}
.form-cart input[type="submit"],
.form-cart .button {
padding: 13px 35px;
border: none;
font-weight: bold;
width: auto;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
-ms-border-radius: 30px;
-o-border-radius: 30px;
border-radius: 30px;
}
.shipping_calculator .button {
background: #333333;
}
.shipping_calculator .button:hover {
background: #ff4949;
}
div.cart_totals table th {
background: #f9f9f9;
}
div.cart_totals .amount {
font-weight: bold;
}
div.cart_totals .order-total .amount {
color: #ff4949;
}
div.cart_totals .shipping td {
color: #999999
} .page-checkout {
padding: 20px 0 100px;
}
.step-checkout {
overflow: hidden;
border: 1px solid #e5e5e5;
margin-bottom: 40px;
}
.step-checkout .step {
float: left;
width: 25%;
font-size: 18px;
color: #999999;
text-align: center;
padding: 8px 10px;
position: relative;
}
.step-checkout .step.active {
color: #000000;
}
.step-checkout .step:after {
content: "";
border-top: 21px solid transparent;
border-bottom: 21px solid transparent;
border-left: 21px solid #cccccc;
border-right: 21px solid transparent;
position: absolute;
right: -21px;
top: -1px;
z-index: 0;
}
.step-checkout .step:before {
content: "";
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-left: 20px solid #ffffff;
border-right: 20px solid transparent;
position: absolute;
right: -19px;
top: 0px;
z-index: 1;
}
.step-checkout .step:last-child:before,
.step-checkout .step:last-child:after {
display: none;
}
.woocommerce-info > h4 {
margin-bottom: 25px;
}
.form-cart .form-row input[type="checkbox"] {
width: auto;
}
.woo-login .form-login input[type="submit"] {
display: block;
background: #333333;
min-width: 120px;
margin-bottom: 30px;
}
.woo-login .form-login input[type="submit"]:hover {
background: #ff4949;
}
.woo-login .form-login input[name="usename"] {
background: url(//i1.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/icon-use.png) no-repeat 98% center;
}
.woo-login .form-login input[name="password"] {
background: url(//i3.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/icon-password.png) no-repeat 98% center;
}
.checkout {
color: #999999;
font-weight: normal;
}
input[type="checkbox"] {
margin-right: 10px
}
.woo-newcustomer .button {
width: 100%;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
padding: 13px 20px;
margin-bottom: 15px;
font-weight: bold;
}
.woo-newcustomer .bt-guest {
background: #333333;
}
.woo-newcustomer .bt-guest:hover {
background: #000000;
}
.comment {
list-style: none;
}
#reviews .star-rating {
margin-bottom: 0;
}
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
padding: 1em 2em 1em 2em;
margin-bottom: 30px;
position: relative;
background-color: #fafafa;
color: #515151;
border-top: 3px solid #337ab7;
list-style: none !important;
width: auto;
word-wrap: break-word;
}
.woocommerce .woocommerce-error:after,
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:after,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:after,
.woocommerce .woocommerce-message:before {
content: " ";
display: table;
}
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button {
float: right;
font-size: 10px;
display: inline-block;
padding: 0 10px;
color: #fff;
height: 24px;
line-height: 24px;
margin: 0;
}
.woocommerce .woocommerce-error {
border-color: #fcf8e3;
}
.woocommerce .woocommerce-info {
border-color: #dff0d8;
}
#review_form .comment-form-rating .stars {
margin-bottom: 0;
}
#review_form .comment-form-rating .stars a {
font-size: 0;
color: #e1e1e1;
display: inline-block;
border-right: 1px solid #e1e1e1;
padding: 0 10px;
line-height: 10px;
}
#review_form .comment-form-rating .stars a:hover,
#review_form .comment-form-rating .stars a.active {
color: #333;
}
#review_form .comment-form-rating .stars a:first-child {
padding-left: 0;
}
#review_form .comment-form-rating .stars a:last-child {
padding-right: 0;
border: 0;
}
#review_form .comment-form-rating .stars a:before {
font-family: 'FontAwesome';
font-size: 12px;
display: inline-block;
}
#review_form .comment-form-rating .stars .star-1:before {
content: "\f006";
}
#review_form .comment-form-rating .stars .star-2:before {
content: "\f006\f006";
}
#review_form .comment-form-rating .stars .star-3:before {
content: "\f006\f006\f006";
}
#review_form .comment-form-rating .stars .star-4:before {
content: "\f006\f006\f006\f006";
}
#review_form .comment-form-rating .stars .star-5:before {
content: "\f006\f006\f006\f006\f006";
}
table.shop_attributes p {
margin: 0;
font-weight: 400;
}
.summary .product_title {
font-size: 30px;
margin-bottom: 10px;
}
.summary .yith-wcwl-add-to-wishlist {
clear: left;
}
.summary .yith-wcwl-add-to-wishlist > div a,
.summary .compare {
float: left;
margin-top: 20px;
padding: 8px 30px;
text-align: center;
border: none;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
-ms-border-radius: 35px;
-o-border-radius: 35px;
border-radius: 35px;
color: #ffffff;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
display: inline-block;
position: relative;
line-height: 24px;
width: auto;
height: auto;
font-size: 14px;
text-align: center;
margin-right: 10px;
}
.summary .yith-wcwl-add-to-wishlist > div a:before,
.summary .compare:before {
margin-right: 5px;
}
.summary .yith-wcwl-add-to-wishlist > div a:hover,
.summary .compare:hover {
outline: none;
background: #000000;
color: #ffffff;
}
.cross-sells .product-grid.product-slide .product {
margin-top: 15px;
}
.woocommerce-checkout-payment {
background-color: #ebe9eb;
padding: 30px 15px;
margin-top: 15px;
}
.woocommerce-checkout-payment .payment_methods {
margin: 0;
padding: 0;
}
.woocommerce-checkout-payment .payment_methods .wc_payment_method {
list-style: none;
}
#add_payment_method #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
position: relative;
box-sizing: border-box;
width: 100%;
padding: 1em;
margin: 1em 0;
font-size: .92em;
border-radius: 2px;
line-height: 1.5;
background-color: #dfdcde;
color: #515151;
}
#add_payment_method #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before {
content: "";
display: block;
border: 1em solid #dfdcde;
border-right-color: transparent;
border-left-color: transparent;
border-top-color: transparent;
position: absolute;
top: -.75em;
left: 0;
margin: -1em 0 0 2em;
}
#add_payment_method #payment ul.payment_methods li input, .woocommerce-checkout #payment ul.payment_methods li input {
margin: 0 1em 0 0;
}
.woocommerce-checkout-payment .payment_box p {
margin: 0;
}
.woocommerce-checkout-payment .place-order {
margin-bottom: 0;
margin-top: 30px;
}
.woocommerce-thankyou-order-details {
margin-bottom: 30px;
}
.woocommerce-thankyou-order-details li {
list-style: none;
border-bottom: 1px solid #ddd;
padding: 10px 0;
}
.woocommerce-MyAccount-navigation {
width: 270px;
float: left;
padding: 10px 20px;
background-color: #f8f7f7;
}
.woocommerce-MyAccount-navigation ul {
margin: 0;
padding: 0;
}
.woocommerce-MyAccount-navigation ul li {
list-style: none;
}
.woocommerce-MyAccount-navigation ul li a {
display: inline-block;
color: #414141;
padding: 10px 0;
width: 100%;
}
.woocommerce-MyAccount-navigation ul li a:before {
content: '';
display: inline-block;
border: 2px solid #ededed;
background-color: #fff;
width: 7px;
height: 7px;
margin-right: 15px;
}
.woocommerce-MyAccount-content {
overflow: hidden;
padding-left: 30px;
}
.product-variable select {
width: 330px;
max-width: 100%;
}
.product-item-style-2 .group-button {
position: absolute;
left: 100%;
margin-left: -20px;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
z-index: 10;
}
.product-item-style-2 .yith-wcqv-button,
.product-item-style-2 .compare,
.product-item-style-2 .yith-wcwl-add-to-wishlist > div a {
display: block;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
border: 2px solid rgba(0, 0, 0, 0.05);
background: #ffffff;
color: inherit;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-ms-border-radius: 25px;
-o-border-radius: 25px;
border-radius: 25px;
color: transparent;
-webkit-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
text-align: left;
margin: 5px 0;
overflow: hidden;
color: #666;
clear: left;
font-size: 13px;
}
.product-item-style-2 .yith-wcqv-button:hover,
.product-item-style-2 .compare:hover,
.product-item-style-2 .yith-wcwl-add-to-wishlist > div a:hover {
width: 145px;
text-align: left;
}
.product-item-style-2 .yith-wcqv-button:before,
.product-item-style-2 .compare:before,
.product-item-style-2 .yith-wcwl-add-to-wishlist > div a:before {
padding: 0 10px;
float: left;
text-align: center;
line-height: 36px;
}
.product-item-style-2 .yith-wcwl-add-to-wishlist > div a::before {
content: "\f004";
}
.product-item-style-2 .compare:before {
content: "\f292";
} @media (min-width: 992px) and (max-width: 1199px) {
.cp-service-shop .service-hover {
width: 450px;
height: 450px;
line-height: 450px;
margin-top: 55px;
}
.widget-cats-icon .list-cats .icon-cat {
width: 35px
}
.widget-cats-icon .list-cats .item-cat {
font-size: 10px;
padding: 12px 10px 12px 13px
}
.product-variable .chosen-container {
width: 210px !important
}
.has-sidebar .product-detail .title-product {
font-size: 23px;
}
.has-sidebar .product-detail .meta-rate .meta-product {
display: block;
}
.has-sidebar .meta-product li:first-child {
border-left: none;
}
.has-sidebar .meta-product li {
font-size: 12px;
padding: 0 5px;
}
.quantity .qty-box {
padding: 0 10px
}
.quantity .qty-box .input-text {
width: auto;
}
.has-sidebar .product-detail .desc-product .img-desc {
float: none;
margin-bottom: 20px
}
.has-sidebar .product-detail .desc-product .text-desc {
padding-left: 0
}
.widget-tab .cp-tab .ui-tabs-nav li {
font-size: 14px;
}
.product-tabs .cp-tab-horizontal .ui-tabs-panel {
padding-left: 30px
}
.pr-gallery-vertical .bx-controls-direction {
width: 55px;
bottom: 0
}
.product-detail .bottom-info .left-info {
padding-right: 22px;
}
.product-detail .bottom-info .right-info {
padding-left: 22px;
}
.product-tabs .cp-tab-horizontal .ui-tabs-nav {
width: 195px
}
.shop-categories .img-cat {
margin-bottom: -60px;
padding: 0 35px;
}
.shop-categories .info-cat {
padding: 90px 35px 35px
}
.pr-gallery-vertical .bx-controls-direction a {
margin: 0 3px;
}
.product-grid-3 .product .product-button a {
margin-left: 18px
}
.product-grid-3 .product .title-product {
font-size: 16px;
}
}
@media (max-width: 991px) {
.shop_table input[type="submit"], .shop_table .button {
margin-bottom: 10px;
padding: 10px 25px;
}
.coupon .input-text {
margin-bottom: 10px
}
}
@media (min-width: 768px) and (max-width: 991px) {
.cp-service-shop .service-hover {
width: 340px;
height: 340px;
line-height: 340px;
}
.cp-service-shop .list-service {
padding: 40px 0 50px 15px;
}
.cp-service-shop .item-service .icon-service {
width: 80px;
height: 80px;
line-height: 80px;
font-size: 45px;
}
.cp-service-shop .item-service .title-service {
font-size: 25px;
margin-bottom: 10px
}
.cp-itempage, .cp-filter-title {
margin-left: 4px;
}
.product-list .product .info-product .bottom-info .product-excerpt {
width: 100%;
padding-right: 0
}
.product-list .product .info-product .bottom-info .product-price-bt {
width: 100%;
}
.product-list .product .product-thumb {
width: 350px
}
.product-list .product-excerpt {
margin-bottom: 18px
}
.product-list .price {
margin-bottom: 10px
}
.product-list .product .product-button {
display: inline-block;
margin-left: 15px;
margin-top: 5px;
vertical-align: top;
}
.product-list-sidebar .product .product-thumb {
width: 100%;
float: none;
margin-bottom: 20px
}
.product-list-sidebar .product .info-product {
padding-left: 0
}
.has-sidebar .product-detail .product-gallery {
width: 100%;
margin-bottom: 20px
}
.quantity .qty-box .input-text {
width: 40px;
}
.product-detail .desc-product .img-desc {
float: none;
margin-bottom: 20px;
max-width: 100%
}
.product-detail .desc-product .text-desc {
padding-left: 0
}
.widget-tab .cp-tab .ui-tabs-nav li {
font-size: 14px;
}
.product-tabs .cp-tab-horizontal .ui-tabs-panel {
padding-left: 30px
}
.product-tabs .cp-tab-horizontal .ui-tabs-nav {
width: 170px
}
.pr-gallery-vertical .bx-controls-direction {
position: relative;
left: 0;
bottom: 0
}
.product-detail .product-main .product-info {
padding-left: 20px
}
.product-detail .meta-rate {
margin-bottom: 10px;
}
.product-detail .excerpt-product {
padding-top: 10px
}
.product-detail .bottom-info .left-info {
padding: 15px 10px 15px 0
}
.product-detail .bottom-info .right-info {
padding: 15px 0 15px 10px
}
.quantity .qty-box {
padding: 0 10px
}
.quantity .label-quantity, .product-variable .title-op {
min-width: 60px
}
.product-variable > div {
margin-bottom: 20px
}
.pr-gallery-vertical .bx-wrapper {
padding-right: 0;
width: 100%;
}
.pr-gallery-vertical #thumb-slide {
width: 100%
}
.pr-gallery-vertical #thumb-slide a {
width: 60px;
margin-bottom: 0;
margin-top: 10px;
}
.pr-gallery-vertical .bx-controls-direction {
bottom: auto;
left: 0;
position: absolute;
top: 50%;
width: 100%;
}
.pr-gallery-vertical .bx-controls-direction a.bx-prev {
position: absolute;
left: 0;
-webkit-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}
.pr-gallery-vertical .bx-controls-direction a.bx-next {
position: absolute;
right: 0;
-webkit-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}
.shop-categories .info-cat {
padding: 85px 35px 35px
}
.shop-categories .img-cat {
margin-bottom: -60px;
padding: 0 35px;
}
.shop-categories .info-cat h3 {
font-size: 25px;
}
}
@media (max-width: 767px) {
.filter-select .text-right {
text-align: left;
}
.cp-itempage, .cp-filter-title {
margin-left: 0;
margin-top: 10px;
max-width: none;
}
.product-list .product .product-thumb {
width: 100%;
margin-bottom: 20px;
float: none;
}
.product-list .product .info-product {
padding-left: 0
}
.product-list .product .info-product .bottom-info .product-excerpt {
width: 100%;
padding-right: 0
}
.product-list .product .info-product .bottom-info .product-price-bt {
width: 100%;
}
.product-list .product .product-button {
display: inline-block;
margin-left: 15px;
margin-top: 5px;
vertical-align: top;
}
.product-detail .product-gallery, .has-sidebar .product-detail .product-gallery {
width: 100%;
margin-bottom: 20px
}
.product-detail .desc-product .text-desc {
padding-left: 0
}
.meta-product li:first-child {
border-left: none;
}
.meta-product li {
font-size: 12px;
padding: 0 5px;
}
.quantity .qty-box .input-text {
width: 40px;
}
.product-variable .chosen-container {
width: 210px !important;
}
.quantity .qty-box {
padding: 0 15px;
}
.product-detail .add-to-cart {
padding-left: 15px;
padding-right: 15px
}
.product-tabs .cp-tab-horizontal .ui-tabs-nav {
width: 100%;
float: none;
}
.product-tabs .cp-tab-horizontal .ui-tabs-panel {
padding-left: 0
}
.product-detail .desc-product .img-desc {
float: none;
width: 100%;
margin-bottom: 20px
}
.product-detail .product-main .product-gallery {
float: none;
}
.product-detail .title-product {
font-size: 23px;
}
.pr-gallery-vertical .bx-controls-direction {
display: none;
}
.product-detail .product-main .product-info, .has-sidebar .product-detail .product-main .product-info {
padding-left: 0;
}
.product-detail .bottom-info .right-info {
padding: 20px 0;
border-left: none;
width: 100%
}
.product-detail .bottom-info .left-info {
padding: 20px;
width: 100%;
}
.shop_table thead {
position: absolute;
left: -9999px
}
.shop_table, .shop_table thead, .shop_table tbody, .shop_table tfoot, .shop_table th, .shop_table td, .shop_table tr {
display: block;
}
.shop_table td, .shop_table th {
padding: 15px 5px;
}
.shop_table td {
padding-left: 45%;
position: relative;
border: none;
border-bottom: 1px solid #e5e5e5;
}
.shop_table tr {
margin-bottom: 30px
}
table tr:last-child td, table tr:last-child th {
border-bottom: 1px solid #e5e5e5;
}
.shop_table tr th:last-child, .shop_table tr td:last-child {
border-right: none;
}
.shop_table td.product-remove, .shop_table td.product-thumbnail {
width: 100%;
}
.shop_table td::before {
color: #000000;
font-size: 18px;
content: attr(data-title);
left: 0;
position: absolute;
text-align: center;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.shop_table td.actions div.coupon, .shop_table td.actions div.button-cart {
width: 100%;
float: none;
}
.coupon .input-text {
width: 180px;
padding: 10px 20px
}
.shop_table input[type="submit"], .shop_table .button {
padding: 10px 20px
}
.step-checkout {
border: none;
}
.step-checkout .step {
width: 100%;
text-align: left;
border: 1px solid #e5e5e5;
margin-bottom: 10px;
}
.step-checkout .step::after, .step-checkout .step::before {
display: none;
}
.woocommerce-info {
margin-bottom: 30px;
}
}
@media (max-width: 480px) {
.cp-product-latest .nav-style4 .owl-nav > div {
padding: 6px 15px;
margin-left: 5px;
}
}@font-face {
font-family: 'themify';
src:url(//www.paralimpico.cl/wp-content/plugins/dflip/assets/fonts/themify.eot);
src:url(//www.paralimpico.cl/wp-content/plugins/dflip/assets/fonts/themify.eot?#iefix) format('embedded-opentype'),
url(//www.paralimpico.cl/wp-content/plugins/dflip/assets/fonts/themify.woff) format('woff'),
url(//www.paralimpico.cl/wp-content/plugins/dflip/assets/fonts/themify.ttf) format('truetype'),
url(//www.paralimpico.cl/wp-content/plugins/dflip/assets/fonts/themify.svg) format('svg');
font-weight: normal;
font-style: normal;
}
[class^="ti-"]:before, [class*=" ti-"]:before {
font-family: 'themify';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1; -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.ti-wand:before {
content: "\e600";
}
.ti-volume:before {
content: "\e601";
}
.ti-user:before {
content: "\e602";
}
.ti-unlock:before {
content: "\e603";
}
.ti-unlink:before {
content: "\e604";
}
.ti-trash:before {
content: "\e605";
}
.ti-thought:before {
content: "\e606";
}
.ti-target:before {
content: "\e607";
}
.ti-tag:before {
content: "\e608";
}
.ti-tablet:before {
content: "\e609";
}
.ti-star:before {
content: "\e60a";
}
.ti-spray:before {
content: "\e60b";
}
.ti-signal:before {
content: "\e60c";
}
.ti-shopping-cart:before {
content: "\e60d";
}
.ti-shopping-cart-full:before {
content: "\e60e";
}
.ti-settings:before {
content: "\e60f";
}
.ti-search:before {
content: "\e610";
}
.ti-zoom-in:before {
content: "\e611";
}
.ti-zoom-out:before {
content: "\e612";
}
.ti-cut:before {
content: "\e613";
}
.ti-ruler:before {
content: "\e614";
}
.ti-ruler-pencil:before {
content: "\e615";
}
.ti-ruler-alt:before {
content: "\e616";
}
.ti-bookmark:before {
content: "\e617";
}
.ti-bookmark-alt:before {
content: "\e618";
}
.ti-reload:before {
content: "\e619";
}
.ti-plus:before {
content: "\e61a";
}
.ti-pin:before {
content: "\e61b";
}
.ti-pencil:before {
content: "\e61c";
}
.ti-pencil-alt:before {
content: "\e61d";
}
.ti-paint-roller:before {
content: "\e61e";
}
.ti-paint-bucket:before {
content: "\e61f";
}
.ti-na:before {
content: "\e620";
}
.ti-mobile:before {
content: "\e621";
}
.ti-minus:before {
content: "\e622";
}
.ti-medall:before {
content: "\e623";
}
.ti-medall-alt:before {
content: "\e624";
}
.ti-marker:before {
content: "\e625";
}
.ti-marker-alt:before {
content: "\e626";
}
.ti-arrow-up:before {
content: "\e627";
}
.ti-arrow-right:before {
content: "\e628";
}
.ti-arrow-left:before {
content: "\e629";
}
.ti-arrow-down:before {
content: "\e62a";
}
.ti-lock:before {
content: "\e62b";
}
.ti-location-arrow:before {
content: "\e62c";
}
.ti-link:before {
content: "\e62d";
}
.ti-layout:before {
content: "\e62e";
}
.ti-layers:before {
content: "\e62f";
}
.ti-layers-alt:before {
content: "\e630";
}
.ti-key:before {
content: "\e631";
}
.ti-import:before {
content: "\e632";
}
.ti-image:before {
content: "\e633";
}
.ti-heart:before {
content: "\e634";
}
.ti-heart-broken:before {
content: "\e635";
}
.ti-hand-stop:before {
content: "\e636";
}
.ti-hand-open:before {
content: "\e637";
}
.ti-hand-drag:before {
content: "\e638";
}
.ti-folder:before {
content: "\e639";
}
.ti-flag:before {
content: "\e63a";
}
.ti-flag-alt:before {
content: "\e63b";
}
.ti-flag-alt-2:before {
content: "\e63c";
}
.ti-eye:before {
content: "\e63d";
}
.ti-export:before {
content: "\e63e";
}
.ti-exchange-vertical:before {
content: "\e63f";
}
.ti-desktop:before {
content: "\e640";
}
.ti-cup:before {
content: "\e641";
}
.ti-crown:before {
content: "\e642";
}
.ti-comments:before {
content: "\e643";
}
.ti-comment:before {
content: "\e644";
}
.ti-comment-alt:before {
content: "\e645";
}
.ti-close:before {
content: "\e646";
}
.ti-clip:before {
content: "\e647";
}
.ti-angle-up:before {
content: "\e648";
}
.ti-angle-right:before {
content: "\e649";
}
.ti-angle-left:before {
content: "\e64a";
}
.ti-angle-down:before {
content: "\e64b";
}
.ti-check:before {
content: "\e64c";
}
.ti-check-box:before {
content: "\e64d";
}
.ti-camera:before {
content: "\e64e";
}
.ti-announcement:before {
content: "\e64f";
}
.ti-brush:before {
content: "\e650";
}
.ti-briefcase:before {
content: "\e651";
}
.ti-bolt:before {
content: "\e652";
}
.ti-bolt-alt:before {
content: "\e653";
}
.ti-blackboard:before {
content: "\e654";
}
.ti-bag:before {
content: "\e655";
}
.ti-move:before {
content: "\e656";
}
.ti-arrows-vertical:before {
content: "\e657";
}
.ti-arrows-horizontal:before {
content: "\e658";
}
.ti-fullscreen:before {
content: "\e659";
}
.ti-arrow-top-right:before {
content: "\e65a";
}
.ti-arrow-top-left:before {
content: "\e65b";
}
.ti-arrow-circle-up:before {
content: "\e65c";
}
.ti-arrow-circle-right:before {
content: "\e65d";
}
.ti-arrow-circle-left:before {
content: "\e65e";
}
.ti-arrow-circle-down:before {
content: "\e65f";
}
.ti-angle-double-up:before {
content: "\e660";
}
.ti-angle-double-right:before {
content: "\e661";
}
.ti-angle-double-left:before {
content: "\e662";
}
.ti-angle-double-down:before {
content: "\e663";
}
.ti-zip:before {
content: "\e664";
}
.ti-world:before {
content: "\e665";
}
.ti-wheelchair:before {
content: "\e666";
}
.ti-view-list:before {
content: "\e667";
}
.ti-view-list-alt:before {
content: "\e668";
}
.ti-view-grid:before {
content: "\e669";
}
.ti-uppercase:before {
content: "\e66a";
}
.ti-upload:before {
content: "\e66b";
}
.ti-underline:before {
content: "\e66c";
}
.ti-truck:before {
content: "\e66d";
}
.ti-timer:before {
content: "\e66e";
}
.ti-ticket:before {
content: "\e66f";
}
.ti-thumb-up:before {
content: "\e670";
}
.ti-thumb-down:before {
content: "\e671";
}
.ti-text:before {
content: "\e672";
}
.ti-stats-up:before {
content: "\e673";
}
.ti-stats-down:before {
content: "\e674";
}
.ti-split-v:before {
content: "\e675";
}
.ti-split-h:before {
content: "\e676";
}
.ti-smallcap:before {
content: "\e677";
}
.ti-shine:before {
content: "\e678";
}
.ti-shift-right:before {
content: "\e679";
}
.ti-shift-left:before {
content: "\e67a";
}
.ti-shield:before {
content: "\e67b";
}
.ti-notepad:before {
content: "\e67c";
}
.ti-server:before {
content: "\e67d";
}
.ti-quote-right:before {
content: "\e67e";
}
.ti-quote-left:before {
content: "\e67f";
}
.ti-pulse:before {
content: "\e680";
}
.ti-printer:before {
content: "\e681";
}
.ti-power-off:before {
content: "\e682";
}
.ti-plug:before {
content: "\e683";
}
.ti-pie-chart:before {
content: "\e684";
}
.ti-paragraph:before {
content: "\e685";
}
.ti-panel:before {
content: "\e686";
}
.ti-package:before {
content: "\e687";
}
.ti-music:before {
content: "\e688";
}
.ti-music-alt:before {
content: "\e689";
}
.ti-mouse:before {
content: "\e68a";
}
.ti-mouse-alt:before {
content: "\e68b";
}
.ti-money:before {
content: "\e68c";
}
.ti-microphone:before {
content: "\e68d";
}
.ti-menu:before {
content: "\e68e";
}
.ti-menu-alt:before {
content: "\e68f";
}
.ti-map:before {
content: "\e690";
}
.ti-map-alt:before {
content: "\e691";
}
.ti-loop:before {
content: "\e692";
}
.ti-location-pin:before {
content: "\e693";
}
.ti-list:before {
content: "\e694";
}
.ti-light-bulb:before {
content: "\e695";
}
.ti-Italic:before {
content: "\e696";
}
.ti-info:before {
content: "\e697";
}
.ti-infinite:before {
content: "\e698";
}
.ti-id-badge:before {
content: "\e699";
}
.ti-hummer:before {
content: "\e69a";
}
.ti-home:before {
content: "\e69b";
}
.ti-help:before {
content: "\e69c";
}
.ti-headphone:before {
content: "\e69d";
}
.ti-harddrives:before {
content: "\e69e";
}
.ti-harddrive:before {
content: "\e69f";
}
.ti-gift:before {
content: "\e6a0";
}
.ti-game:before {
content: "\e6a1";
}
.ti-filter:before {
content: "\e6a2";
}
.ti-files:before {
content: "\e6a3";
}
.ti-file:before {
content: "\e6a4";
}
.ti-eraser:before {
content: "\e6a5";
}
.ti-envelope:before {
content: "\e6a6";
}
.ti-download:before {
content: "\e6a7";
}
.ti-direction:before {
content: "\e6a8";
}
.ti-direction-alt:before {
content: "\e6a9";
}
.ti-dashboard:before {
content: "\e6aa";
}
.ti-control-stop:before {
content: "\e6ab";
}
.ti-control-shuffle:before {
content: "\e6ac";
}
.ti-control-play:before {
content: "\e6ad";
}
.ti-control-pause:before {
content: "\e6ae";
}
.ti-control-forward:before {
content: "\e6af";
}
.ti-control-backward:before {
content: "\e6b0";
}
.ti-cloud:before {
content: "\e6b1";
}
.ti-cloud-up:before {
content: "\e6b2";
}
.ti-cloud-down:before {
content: "\e6b3";
}
.ti-clipboard:before {
content: "\e6b4";
}
.ti-car:before {
content: "\e6b5";
}
.ti-calendar:before {
content: "\e6b6";
}
.ti-book:before {
content: "\e6b7";
}
.ti-bell:before {
content: "\e6b8";
}
.ti-basketball:before {
content: "\e6b9";
}
.ti-bar-chart:before {
content: "\e6ba";
}
.ti-bar-chart-alt:before {
content: "\e6bb";
}
.ti-back-right:before {
content: "\e6bc";
}
.ti-back-left:before {
content: "\e6bd";
}
.ti-arrows-corner:before {
content: "\e6be";
}
.ti-archive:before {
content: "\e6bf";
}
.ti-anchor:before {
content: "\e6c0";
}
.ti-align-right:before {
content: "\e6c1";
}
.ti-align-left:before {
content: "\e6c2";
}
.ti-align-justify:before {
content: "\e6c3";
}
.ti-align-center:before {
content: "\e6c4";
}
.ti-alert:before {
content: "\e6c5";
}
.ti-alarm-clock:before {
content: "\e6c6";
}
.ti-agenda:before {
content: "\e6c7";
}
.ti-write:before {
content: "\e6c8";
}
.ti-window:before {
content: "\e6c9";
}
.ti-widgetized:before {
content: "\e6ca";
}
.ti-widget:before {
content: "\e6cb";
}
.ti-widget-alt:before {
content: "\e6cc";
}
.ti-wallet:before {
content: "\e6cd";
}
.ti-video-clapper:before {
content: "\e6ce";
}
.ti-video-camera:before {
content: "\e6cf";
}
.ti-vector:before {
content: "\e6d0";
}
.ti-themify-logo:before {
content: "\e6d1";
}
.ti-themify-favicon:before {
content: "\e6d2";
}
.ti-themify-favicon-alt:before {
content: "\e6d3";
}
.ti-support:before {
content: "\e6d4";
}
.ti-stamp:before {
content: "\e6d5";
}
.ti-split-v-alt:before {
content: "\e6d6";
}
.ti-slice:before {
content: "\e6d7";
}
.ti-shortcode:before {
content: "\e6d8";
}
.ti-shift-right-alt:before {
content: "\e6d9";
}
.ti-shift-left-alt:before {
content: "\e6da";
}
.ti-ruler-alt-2:before {
content: "\e6db";
}
.ti-receipt:before {
content: "\e6dc";
}
.ti-pin2:before {
content: "\e6dd";
}
.ti-pin-alt:before {
content: "\e6de";
}
.ti-pencil-alt2:before {
content: "\e6df";
}
.ti-palette:before {
content: "\e6e0";
}
.ti-more:before {
content: "\e6e1";
}
.ti-more-alt:before {
content: "\e6e2";
}
.ti-microphone-alt:before {
content: "\e6e3";
}
.ti-magnet:before {
content: "\e6e4";
}
.ti-line-double:before {
content: "\e6e5";
}
.ti-line-dotted:before {
content: "\e6e6";
}
.ti-line-dashed:before {
content: "\e6e7";
}
.ti-layout-width-full:before {
content: "\e6e8";
}
.ti-layout-width-default:before {
content: "\e6e9";
}
.ti-layout-width-default-alt:before {
content: "\e6ea";
}
.ti-layout-tab:before {
content: "\e6eb";
}
.ti-layout-tab-window:before {
content: "\e6ec";
}
.ti-layout-tab-v:before {
content: "\e6ed";
}
.ti-layout-tab-min:before {
content: "\e6ee";
}
.ti-layout-slider:before {
content: "\e6ef";
}
.ti-layout-slider-alt:before {
content: "\e6f0";
}
.ti-layout-sidebar-right:before {
content: "\e6f1";
}
.ti-layout-sidebar-none:before {
content: "\e6f2";
}
.ti-layout-sidebar-left:before {
content: "\e6f3";
}
.ti-layout-placeholder:before {
content: "\e6f4";
}
.ti-layout-menu:before {
content: "\e6f5";
}
.ti-layout-menu-v:before {
content: "\e6f6";
}
.ti-layout-menu-separated:before {
content: "\e6f7";
}
.ti-layout-menu-full:before {
content: "\e6f8";
}
.ti-layout-media-right-alt:before {
content: "\e6f9";
}
.ti-layout-media-right:before {
content: "\e6fa";
}
.ti-layout-media-overlay:before {
content: "\e6fb";
}
.ti-layout-media-overlay-alt:before {
content: "\e6fc";
}
.ti-layout-media-overlay-alt-2:before {
content: "\e6fd";
}
.ti-layout-media-left-alt:before {
content: "\e6fe";
}
.ti-layout-media-left:before {
content: "\e6ff";
}
.ti-layout-media-center-alt:before {
content: "\e700";
}
.ti-layout-media-center:before {
content: "\e701";
}
.ti-layout-list-thumb:before {
content: "\e702";
}
.ti-layout-list-thumb-alt:before {
content: "\e703";
}
.ti-layout-list-post:before {
content: "\e704";
}
.ti-layout-list-large-image:before {
content: "\e705";
}
.ti-layout-line-solid:before {
content: "\e706";
}
.ti-layout-grid4:before {
content: "\e707";
}
.ti-layout-grid3:before {
content: "\e708";
}
.ti-layout-grid2:before {
content: "\e709";
}
.ti-layout-grid2-thumb:before {
content: "\e70a";
}
.ti-layout-cta-right:before {
content: "\e70b";
}
.ti-layout-cta-left:before {
content: "\e70c";
}
.ti-layout-cta-center:before {
content: "\e70d";
}
.ti-layout-cta-btn-right:before {
content: "\e70e";
}
.ti-layout-cta-btn-left:before {
content: "\e70f";
}
.ti-layout-column4:before {
content: "\e710";
}
.ti-layout-column3:before {
content: "\e711";
}
.ti-layout-column2:before {
content: "\e712";
}
.ti-layout-accordion-separated:before {
content: "\e713";
}
.ti-layout-accordion-merged:before {
content: "\e714";
}
.ti-layout-accordion-list:before {
content: "\e715";
}
.ti-ink-pen:before {
content: "\e716";
}
.ti-info-alt:before {
content: "\e717";
}
.ti-help-alt:before {
content: "\e718";
}
.ti-headphone-alt:before {
content: "\e719";
}
.ti-hand-point-up:before {
content: "\e71a";
}
.ti-hand-point-right:before {
content: "\e71b";
}
.ti-hand-point-left:before {
content: "\e71c";
}
.ti-hand-point-down:before {
content: "\e71d";
}
.ti-gallery:before {
content: "\e71e";
}
.ti-face-smile:before {
content: "\e71f";
}
.ti-face-sad:before {
content: "\e720";
}
.ti-credit-card:before {
content: "\e721";
}
.ti-control-skip-forward:before {
content: "\e722";
}
.ti-control-skip-backward:before {
content: "\e723";
}
.ti-control-record:before {
content: "\e724";
}
.ti-control-eject:before {
content: "\e725";
}
.ti-comments-smiley:before {
content: "\e726";
}
.ti-brush-alt:before {
content: "\e727";
}
.ti-youtube:before {
content: "\e728";
}
.ti-vimeo:before {
content: "\e729";
}
.ti-twitter:before {
content: "\e72a";
}
.ti-time:before {
content: "\e72b";
}
.ti-tumblr:before {
content: "\e72c";
}
.ti-skype:before {
content: "\e72d";
}
.ti-share:before {
content: "\e72e";
}
.ti-share-alt:before {
content: "\e72f";
}
.ti-rocket:before {
content: "\e730";
}
.ti-pinterest:before {
content: "\e731";
}
.ti-new-window:before {
content: "\e732";
}
.ti-microsoft:before {
content: "\e733";
}
.ti-list-ol:before {
content: "\e734";
}
.ti-linkedin:before {
content: "\e735";
}
.ti-layout-sidebar-2:before {
content: "\e736";
}
.ti-layout-grid4-alt:before {
content: "\e737";
}
.ti-layout-grid3-alt:before {
content: "\e738";
}
.ti-layout-grid2-alt:before {
content: "\e739";
}
.ti-layout-column4-alt:before {
content: "\e73a";
}
.ti-layout-column3-alt:before {
content: "\e73b";
}
.ti-layout-column2-alt:before {
content: "\e73c";
}
.ti-instagram:before {
content: "\e73d";
}
.ti-google:before {
content: "\e73e";
}
.ti-github:before {
content: "\e73f";
}
.ti-flickr:before {
content: "\e740";
}
.ti-facebook:before {
content: "\e741";
}
.ti-dropbox:before {
content: "\e742";
}
.ti-dribbble:before {
content: "\e743";
}
.ti-apple:before {
content: "\e744";
}
.ti-android:before {
content: "\e745";
}
.ti-save:before {
content: "\e746";
}
.ti-save-alt:before {
content: "\e747";
}
.ti-yahoo:before {
content: "\e748";
}
.ti-wordpress:before {
content: "\e749";
}
.ti-vimeo-alt:before {
content: "\e74a";
}
.ti-twitter-alt:before {
content: "\e74b";
}
.ti-tumblr-alt:before {
content: "\e74c";
}
.ti-trello:before {
content: "\e74d";
}
.ti-stack-overflow:before {
content: "\e74e";
}
.ti-soundcloud:before {
content: "\e74f";
}
.ti-sharethis:before {
content: "\e750";
}
.ti-sharethis-alt:before {
content: "\e751";
}
.ti-reddit:before {
content: "\e752";
}
.ti-pinterest-alt:before {
content: "\e753";
}
.ti-microsoft-alt:before {
content: "\e754";
}
.ti-linux:before {
content: "\e755";
}
.ti-jsfiddle:before {
content: "\e756";
}
.ti-joomla:before {
content: "\e757";
}
.ti-html5:before {
content: "\e758";
}
.ti-flickr-alt:before {
content: "\e759";
}
.ti-email:before {
content: "\e75a";
}
.ti-drupal:before {
content: "\e75b";
}
.ti-dropbox-alt:before {
content: "\e75c";
}
.ti-css3:before {
content: "\e75d";
}
.ti-rss:before {
content: "\e75e";
}
.ti-rss-alt:before {
content: "\e75f";
}.df-abs-center {
top: 50%;
left: 50%;
position: absolute;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.df-abs-h-center {
position: absolute;
left: 50%;
-webkit-transform: translate(-50%);
-moz-transform: translate(-50%);
-ms-transform: translate(-50%);
transform: translate(-50%);
}
.df-container {
min-height: 320px;
background: no-repeat 50%;
background-size: cover;
width: 100%;
position: relative;  image-rendering: auto;
direction: ltr;
}
.df-container.df-transparent:not(.df-fullscreen) {
background: transparent !important;
}
.df-container.df-custom-fullscreen.df-fullscreen {
position: fixed !important;
top: 0 !important;
left: 0 !important;
right: 0 !important;
bottom: 0 !important;
margin: 0 !important;
border: 0 !important;
z-index: 999999;
}
.df-container .loading-info {
position: absolute;
top: 100%;
margin-top: 20px;
margin-left: 5px;
padding: 6px 20px;
background-color: rgba(0, 0, 0, 0.09);
font-style: italic;
border-radius: 5px;
font-size: 11px;
max-height: 30px;
color: #fff;
max-width: 200px;
transform: translateX(-50%);
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
left: 50%;
opacity: 0.7;
transition: 0.3s top ease;
-webkit-transition: 0.3s top ease;
}
.loading-info.df-old-browser {
color: gray;
background-color: white;
opacity: 0.9;
text-align: center;
max-height: none;
}
.loading-info.df-old-browser a {
font-weight: bold;
font-style: normal;
text-transform: uppercase;
color: #2196F3;
display: block;
text-decoration: underline;
margin: 10px 0 0;
}
.df-container.df-init .loading-info {
top: 50%;
}
.df-3dcanvas {
position: absolute;
z-index: 1;
right: 0;
}
.df-container > canvas {
}
.df-container a {
outline: none;
text-decoration: none;
box-shadow: none;
}
.df-container.df-zoom-enabled canvas.df-3dcanvas,
.df-container.df-zoom-enabled .df-book-stage {
cursor: move; cursor: -webkit-grab;
}
.df-container:before, .df-container:after {
content: " ";
transition: 0.3s 0.1s opacity;
-webkit-transition: 0.3s 0.1s opacity;
opacity: 0;
height: 50px;
width: 50px;
left: 50%;
top: 50%;
font-size: 12px;
margin: -45px -25px -25px;
box-sizing: border-box;
position: absolute;
pointer-events: none;
}
.df-container.df-loading:before, .df-container.df-loading:after {
content: " ";
z-index: 100;
opacity: 1; }
.df-container.df-loading .df-loading-icon {
}
.df-container.df-loading:after {
content: " ";
background-image: url(//i3.wp.com/www.paralimpico.cl/wp-content/plugins/dflip/assets/images/loading.gif?);
background-repeat: no-repeat;
background-size: 32px;
background-position: 50%;
}
.df-container.df-loading:before {
background-color: white;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
border: 1px solid rgba(150, 150, 150, 0.2);
}
.df-book-stage {
position: absolute;
overflow: hidden;
right: 0;
bottom: 0;
z-index: 1;
top: 0;
left: 0; filter: blur(0);
-webkit-filter: blur(0);
padding: 30px 50px 70px;
}
.df-floating .df-book-stage {
}
.df-container.df-xs .df-book-stage {
padding-left: 20px;
padding-right: 20px;
}
.df-container.df-sidemenu-open .df-book-stage {
padding-left: 230px;
padding-right: 10px;
}
.df-container.df-sidemenu-open > .df-ui-btn.df-ui-prev {
left: 220px;
}
.df-book-stage.df-zoom-enabled {
cursor: move;
}
.df-page-front:before, .df-page-back:before {
content: " ";
}
.df-book-page .df-page-front:before {
background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0) 70%);
background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0) 70%);
background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0) 70%);
}
.df-book-page .df-page-back:before {
background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15) 15%, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.0));
background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15) 15%, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.0));
background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15) 15%, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.0));
}
.df-book-wrapper, .df-page-wrapper, .df-book-page, .df-page-content,
.df-page-front:before, .df-page-wrapper:after, .df-page-back:before,
.df-page-content:after, .df-page-effects, .df-page-effects:before, .df-page-effects {
position: absolute;
height: 100%;
display: block;
top: 0;
}
.df-page-content, .df-book-page {
width: 100%;
}
.df-book-wrapper {
position: relative;
margin: 0 auto;
transition: 0.3s left;
-webkit-transition: 0.3s left;
left: 0; }
.df-zoom-enabled .df-book-wrapper {
transition: none;
-webkit-transition: none;
}
.df-loading.df-container .df-book-wrapper {
left: 100%;
}
.df-book-wrapper.close-right {
left: 25%;
}
.df-book-wrapper.close-left {
left: -25%;
}
.df-book-shadow {
position: absolute;
z-index: -1;
height: 100%;
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
-ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.df-book-wrapper .df-book-side-buttons {
position: absolute;
left: 100%;
width: 40px;
opacity: 0.3;
height: 100%;
cursor: pointer;
z-index: 30;
-webkit-border-radius: 0 20px 20px 0;
-moz-border-radius: 0 20px 20px 0;
border-radius: 0 20px 20px 0;
}
.df-book-prev-button.df-book-side-buttons {
-webkit-border-radius: 20px 0 0 20px;
-moz-border-radius: 20px 0 0 20px;
border-radius: 20px 0 0 20px;
}
.df-book-wrapper .df-book-side-buttons:hover {
opacity: 0.5;
background-color: rgba(0, 0, 0, 0.18);
}
.df-book-wrapper .df-book-prev-button {
right: 100%;
left: auto;
left: initial;
}
.df-book-wrapper .df-book-side-buttons:before {
position: absolute;
font-size: 30px;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
left: 50%;
top: 50%;
}
.df-book-wrapper .df-book-prev-button:before {
}
.df-page-wrapper {
overflow: hidden;
}
.df-hard-page .df-page-wrapper {
width: 100% !important;
height: 100% !important;
overflow: visible;
transform-style: preserve-3d;
-webkit-transform-origin: 0 50% 0;
-moz-transform-origin: 0 50% 0;
-ms-transform-origin: 0 50% 0;
transform-origin: 0 50% 0;
}
.df-book-page.df-flipping, .df-book-page.df-folding {
box-shadow: -2px 0 10px rgba(0, 0, 0, 0.0);
}
.df-book-page.df-left-side {
left: 0;
-webkit-transform-origin: right;
-moz-transform-origin: right;
-ms-transform-origin: right;
transform-origin: right;
}
.df-book-page.df-right-side {
left: 50%;
-webkit-transform-origin: left;
-moz-transform-origin: left;
-ms-transform-origin: left;
transform-origin: left;
}
.df-book-page.df-hard-page {
}
.df-book-page.df-right-side + .df-page-wrapper.df-right-side {
z-index: -1;
}
.df-book-page .df-page-front, .df-book-page .df-page-back {
width: 100%;
background-size: 100.5% 100%;
background-size: 100% 100%;
height: 100%;
background-color: white;
position: absolute;
box-sizing: border-box;
}
.df-page-back > canvas, .df-page-front > canvas {
width: 100%;
position: relative;
z-index: -1;
} .df-page-wrapper:before {
}
.df-quick-turn:before {
opacity: 0;
}
.df-book-page.df-flipping.df-left-side:before {
background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
width: 10px;
left: -10px;
}
.df-book-page.df-right-side:before {
}
.df-book-page {
width: 50%;
}
.df-book-page.df-flipping, .df-book-page.df-folding {
z-index: 200 !important;
}
.df-page-content {
background-size: 100.25% !important;
background-repeat: no-repeat !important;
transition-property: transform;
-webkit-transition-property: -webkit-transform;
width: 100%;
overflow: hidden; }
.df-book-page.df-left-side .df-page-front { z-index: 2;
}
.df-book-page.df-left-side .df-page-back {
z-index: 1;
}
.df-book-page.df-left-side.df-folding:not(.df-hard-page) .df-page-back {
z-index: 3;
}
.df-book-page.df-right-side .df-page-front {
top: 0;
left: 0;
z-index: 0;
}
.df-book-page, .df-page-front, .df-page-back,
.df-page-fold-inner-shadow, .df-page-fold-outer-shadow, .df-page-wrapper {
position: absolute;
-webkit-transform-origin: 0 0 0;
-moz-transform-origin: 0 0 0;
-ms-transform-origin: 0 0 0;
transform-origin: 0 0 0;
}
.df-page-front, .df-page-back {
overflow: visible;
}
.df-page-fold-outer-shadow {
z-index: -1;
width: 100%;
height: 100%;
}
.df-page-fold-inner-shadow {
position: absolute;
z-index: 5;
display: none;
}
.df-book-page.df-folding .df-page-fold-inner-shadow {
display: block;
}
.df-book-page.df-right-side .df-page-back {
left: 0;
z-index: 1;
}
.df-book-page.df-right-side.df-folding .df-page-front {
z-index: 2;
}
.df-page-wrapper.df-right-side .df-page-back {
left: 100%;
z-index: 1;
overflow: hidden;
}
.df-hard-page .df-page-front,
.df-hard-page .df-page-back {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
}
.df-hard-page.df-right-side .df-page-front {
-webkit-transform-origin: right 50%;
-moz-transform-origin: right 50%;
-ms-transform-origin: right 50%;
transform-origin: right 50%;
z-index: 3 !important;  }
.df-hard-page.df-left-side .df-page-front {
-webkit-transform-origin: right 50%;
-moz-transform-origin: right 50%;
-ms-transform-origin: right 50%;
transform-origin: right 50%;
}
.df-hard-page.df-right-side .df-page-back {
-webkit-transform-origin: left 50%;
-moz-transform-origin: left 50%;
-ms-transform-origin: left 50%;
transform-origin: left 50%;
z-index: 3;  }
.df-hard-page.df-left-side .df-page-back {
-webkit-transform-origin: left 50%;
-moz-transform-origin: left 50%;
-ms-transform-origin: left 50%;
transform-origin: left 50%;
} .df-page-front:before, .df-page-back:before {
width: 20%;
z-index: 5;
pointer-events: none;
}
.df-page-front:before {
right: 0;
}
.df-page-wrapper.df-right-side.df-flipping {
z-index: 4;
} .df-ui {
height: 60px;
padding: 20px 16px 0;
}
.df-ui-wrapper, .df-ui-btn {
color: #888;
vertical-align: top;
background-color: #f7f7f7;
box-sizing: border-box;
text-align: center;
}
.df-ui-wrapper {
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); background-color: #f7f7f7;
position: absolute;
}
.df-share-wrapper {
z-index: 2;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.35);
display: none;
}
.df-share-wrapper.df-hidden { }
.df-share-box {
position: absolute;
top: 50%;
width: 280px;
-webkit-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
left: 50%;
background-color: #fff;
border-radius: 10px;
padding: 10px 15px 5px;
text-align: center;
}
span.df-share-title {
color: #777;
margin-bottom: 10px;
display: block;
}
.df-share-url { background-color: #fff;
height: 60px;
color: #666;
padding: 2px 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width: 100%;
font-size: 12px;
box-sizing: border-box;
margin-bottom: 0px;
}
.df-share-button {
display: inline-block;
text-align: center;
cursor: pointer;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
padding: 10px;
margin: 3px;
color: #aaa;
}
.df-share-button:hover {
color: #444;
}
.df-ui-btn {
position: relative;
width: 35px;
right: 0;
height: 40px;
font-size: 17px;
cursor: pointer;
z-index: 2;
display: inline-block;
padding: 12px 5px; line-height: 1;
}
.df-floating .df-ui-controls > .df-ui-btn:first-child {
border-radius: 5px 0 0 5px;
}
.df-floating .df-ui-controls > .df-ui-btn:last-child {
border-radius: 0 5px 5px 0;
}
.df-ui-btn:before {
box-sizing: border-box;
}
.df-ui-fit, .df-ui-thumbnail {
}
.df-ui-thumbnail, .df-ui-share, .df-ui-outline, .df-ui-help, .df-ui-sound {
float: left;
}
.df-ui-zoomin, .df-ui-zoomout {
}
.df-ui-btn:hover {
color: #00ACCE;
}
.df-ui-btn.disabled, .df-ui-btn.disabled:hover {
color: #ccc;
}
.df-ui-share:before {
}
.df-ui-page {
padding: 8px 5px 2px;
font-size: 12px;
width: auto;
width: 50px;
margin: 0 0; border-radius: 0; background-color: rgba(0, 0, 0, 0.03);
}
.df-ui-page input {
width: 100%;
background-color: transparent;
height: 25px;
margin: 0;
border: 1px solid rgb(143, 143, 143);
text-align: center;
vertical-align: top;
color: transparent;
font-size: 14px;
top: 0;
box-sizing: border-box;
z-index: -1;
display: inline-block;
opacity: 0;
}
.df-ui-page input:focus {
z-index: 2;
opacity: 1;
color: inherit;
}
.df-ui-page input:focus + label {
opacity: 0;
display: none;
}
.df-ui-page label {
position: absolute;
height: 30px;
width: 100%;
display: block;
top: 0;
padding-top: 14px; color: #999;
font-size: 13px; font-weight: normal;
left: 0;
cursor: pointer;
background-color: transparent;
z-index: 1;
box-sizing: border-box; }
.df-ui-share {
float: left;
}
.df-ui-share:before {
}
.df-ui-fullscreen {
bottom: 0;
}
.df-ui-fullscreen:before {
}
.df-ui-zoom {
top: 24px;
height: 60px;
right: 24px;
width: 30px;
display: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.df-ui-sidemenu-close{
position: absolute;
top: 10px;
right: -32px;
font-size: 14px;
width: 32px;
height: 35px;
cursor: pointer;
padding: 10px 0px;
background: inherit;
border-radius: 0 5px 5px 0;
z-index: -1;
transition: 0.5s ease;
-webkit-transition: 0.5s ease;
}
.df-thumb-visible .df-ui-sidemenu-close,
.df-outline-visible .df-ui-sidemenu-close{
right: -32px;
}
.df-ui-controls {
bottom: 0;
width: 100%; height: 40px; padding: 0;
-webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; z-index: 4; display: block;
}
.df-floating .df-ui-controls {
bottom: 10px;
width: auto;
width: intial; -webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
left: 50%;
margin: 0 auto;
display: table; display: flex;
border-radius: 5px;
}
.df-ui-wrapper.df-ui-controls .df-ui-btn { float: none;
}
.df-ui-size {
bottom: 24px;
height: 60px;
right: 24px;
}
.df-ui-zoom:before, .df-ui-size:before {
height: 0;
border-bottom: 1px solid;
content: " ";
right: 5px;
opacity: 0.3;
display: block;
position: absolute;
top: 30px;
left: 5px;
z-index: 2;
}
.df-ui-zoomin {
top: 0;
}
.df-ui-zoomin:before {
}
.df-ui-zoomout {
bottom: 0;
}
.df-ui-btn.df-ui-zoomout { }
.df-zoom-enabled .df-ui-btn.df-ui-zoomout { }
.df-zoom-enabled .df-ui-btn.df-ui-zoomin { }
.df-ui-zoomout:before {
}
.df-ui-next {
right: 24px;
right: 0;
border-radius: 0; }
.df-container.df-floating > .df-ui-next {
right: 8px;
}
.df-container.df-floating > .df-ui-prev {
left: 2px;
}
.df-container > .df-ui-next, .df-container > .df-ui-prev {
margin-top: -5px;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
top: 50%;
position: absolute; opacity: 0.3;
background-color: transparent;
height: auto;
height: initial;
font-size: 36px;
color: #000;
width: auto;
text-align: center;
width: initial;
}
.df-container > .df-ui-next:hover, .df-container > .df-ui-prev:hover {
opacity: 0.7;
}
.df-container.df-floating > .df-ui-next, .df-container.df-floating > .df-ui-prev {
border-radius: 50%;
width: 40px;
}
.df-ui-next:before {
}
.df-ui-prev {
left: 0;
right: auto;
border-radius: 0;
}
.df-ui-prev:before {
}
.df-ui-alt {
position: relative !important;
right: auto;
right: initial;
left: auto;
left: initial;
box-shadow: none !important;
}
.df-ui-alt.df-ui-next,
.df-ui-alt.df-ui-prev { }
.df-ui-alt.df-ui-next {
border-right: 1px solid #ddd;
}
.df-ui-start {
}
.df-ui-start:before {
}
.df-ui-end {
}
.df-ui-end:before {
}
.df-ui-thumbnail:before {
}
.df-ui-outline:before {
}
.df-ui-btn.df-active {
color: #00ACCE;
background-color: #e7e7e7;
}
.df-ui-fit {
display: none;
}
.df-ui-zoomin, .df-ui-zoomout, .df-ui-fullscreen, .df-ui-more {
float: right;
}
.df-ui-fit {
top: 0;
}
.df-ui-fit:before {
}
.df-ui-fit.button-fit-active:before {
}
.df-page-content div {
}
.df-ui-more .more-container {
display: none;
position: absolute;
bottom: 100%;
margin-bottom: 8px !important;
right: 10px;
background-color: #f7f7f7;
z-index: 20;
border-radius: 5px; box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
}
.more-container:before { content: " "; position: absolute; border: solid transparent; border-width: 7px; border-top-color: #eee; height: 0; width: 0; bottom: -14px; right: 13px; margin-right: -8px; pointer-events: none; }
.more-container .df-ui-btn {
width: auto;
width: initial;
width: 170px;
text-align: left;
padding: 8px 10px;
height: 36px;
border-top: 1px solid #e4e4e4;
border-radius: 0;
}
.more-container .df-ui-btn:hover {
background-color: #eee;
}
.more-container > .df-ui-btn:first-child {
border-radius: 5px;
border-top: none;
}
.more-container > .df-ui-btn:last-child {
border-radius: 0 0 5px 5px;
}
.more-container .df-ui-btn:before {
position: absolute;
top: 11px;
font-size: 14px;
}
.df-ui-btn span {
display: none;
}
.more-container .df-ui-btn span {
font-size: 12px;
padding-left: 20px;
vertical-align: middle;
display: inline-block;
}
.df-ui-more.df-active .more-container {
display: block;
}
.annotationLayer section,
.annotationDiv section,
.customLinkAnnotation,
.customHtmlAnnotation,
.customVideoAnnotation,
.linkAnnotation,
.highlightAnnotation,
.popupAnnotation {
position: absolute;
z-index: 5;
cursor: pointer;
pointer-events: all; }
.annotationDiv .popupWrapper {
position: absolute;
width: 20em;
}
.annotationDiv .popup {
position: absolute;
z-index: 200;
max-width: 20em;
background-color: #FFFF99;
box-shadow: 0px 2px 5px #333;
border-radius: 2px;
padding: 0.6em;
margin-left: 5px;
cursor: pointer;
word-wrap: break-word;
}
.annotationDiv .popup h1 {
font-size: 1em;
border-bottom: 1px solid #000000;
padding-bottom: 0.2em;
}
.annotationDiv .popup p {
padding-top: 0.2em;
}
.annotationDiv .highlightAnnotation,
.annotationDiv .underlineAnnotation,
.annotationDiv .squigglyAnnotation,
.annotationDiv .strikeoutAnnotation,
.annotationDiv .fileAttachmentAnnotation {
cursor: pointer;
}
.annotationDiv .textAnnotation img {
position: absolute;
cursor: pointer;
}
section.linkAnnotation a {
display: block;
height: 100%;
}
section.linkAnnotation a,
a.linkAnnotation,
a.customLinkAnnotation,
.customHtmlAnnotation,
.customVideoAnnotation {
background-color: transparent;
background-color: rgb(255, 255, 0); opacity: 0.1;
}
a.customLinkAnnotation { }
section.linkAnnotation a:hover,
a.linkAnnotation:hover,
.highlightAnnotation:hover,
a.customLinkAnnotation:hover {
opacity: 0.4;
border-color: transparent;
background-color: #2196F3;
}
.annotationDiv {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
overflow: hidden;
}
section.linkAnnotation a .annotationLayer >
a {
display: block;
position: absolute;
height: 100%;
cursor: pointer;
box-sizing: border-box;
}
section.linkAnnotation a.internalLink:hover {
}
.df-page-loading:after, .df-page-loading:before {
content: " ";
height: 44px;
width: 44px;
position: absolute;
top: 50%;
left: 50%;
margin: -22px -22px;
}
.df-page-loading:before {
background-color: white;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px; box-sizing: border-box;
}
.df-page-loading:after {
background-image: url(//i1.wp.com/www.paralimpico.cl/wp-content/plugins/dflip/assets/images/loading.gif);
background-repeat: no-repeat;
background-position: center;
background-size: 22px;
}
.df-thumb-container .df-vrow {
height: 124px;
left: 0;
width: 90%;
margin: 10px auto;
background-position: 50%;
cursor: pointer;
background-repeat: no-repeat;
right: 0;
border-radius: 5px; }
.df-thumb-container .df-vrow:before {
content: "";
background-image: url(//i3.wp.com/www.paralimpico.cl/wp-content/plugins/dflip/assets/images/loading.gif);
background-size: 22px;
height: 22px;
width: 22px;
display: block;
top: 60px;
margin: 0 auto;
position: relative;
z-index: 0;
}
.df-thumb-container .df-vrow:hover {
background-color: #bbb;
}
.df-floating .df-thumb-container .df-vrow:hover {
background-color: #ccc;
opacity: 1;
}
.df-thumb-container .df-vrow.df-thumb-loaded {
background-size: contain; }
.df-thumb-container .df-vrow.df-thumb-loaded:before {
display: none;
}
.df-vrow > div { height: 20px;
background-color: rgba(170, 170, 170, 0.54);
width: 40px;
margin: 0 auto;
}
.df-thumb-container { float: left; width: 220px;
height: auto !important;
position: absolute !important;
top: 0;
z-index: 3;
bottom: 40px;
background-color: rgba(238, 238, 238, 0.9);  text-align: center;
}
.df-outline-container { float: left;   width: 220px;
text-align: left;
height: auto !important;
position: absolute !important;
top: 0;
bottom: 40px; z-index: 3;
color: #666;
font-size: 12px;
background-color: rgba(247, 247, 247, 0.9); }
.df-outline-container, .df-thumb-container {
transition: 0.5s transform ease;
-webkit-transition: 0.5s -webkit-transform ease;
transform: translateX(-100%);
-webkit-transform: translateX(-100%);
-moz-transform: translateX(-100%);
-ms-transform: translateX(-100%);
left: -50px;
}
.df-outline-wrapper, .df-thumb-wrapper{
position: absolute !important;
top: 0;
bottom:0px;
left:0;
right:0;
height: auto !important;
box-shadow: 1px 0 4px rgba(102, 102, 102, 0.38);
}
.df-outline-wrapper{
overflow: auto;
padding: 10px 10px 5px 10px;
}
.df-floating .df-outline-container, .df-floating .df-thumb-container {
bottom: 0;
}
.df-outline-container.df-outline-visible {
display: block;
}
.df-floating .df-outline-container.df-outline-visible, .df-floating .df-thumb-container.df-thumb-visible {
}
.df-outline-container.df-outline-visible, .df-thumb-container.df-thumb-visible {
transform: translateX(0);
-ms-transform: translateX(0);
-moz-transform: translateX(0);
-webkit-transform: translateX(0);
left: 0;
}
.df-floating .df-thumb-container.df-thumb-visible { }
.df-outline-toggle {
cursor: pointer;
float: left;
width: 18px;
padding: 5px 0;
margin-left: -18px;
text-align: center;
}
.df-outline-toggle.df-outlines-hidden ~ .df-outline-items {
display: none;
}
.df-outline-items > .df-outline-item {
margin-left: 18px; }
.df-outline-item a:hover, .df-outline-toggle:hover {
background-color: #e7e7e7;
}
.df-outline-item a {
color: inherit !important;
text-decoration: none !important;
display: block;
padding: 5px 0 5px 5px;
overflow: hidden;
text-overflow: ellipsis; border: none !important;
box-shadow: none !important;
}
.df-outline-toggle:before {
content: "\e64b";
font-size: 10px;
font-family: 'themify';
}
.df-outline-toggle.df-outlines-hidden:before {
content: "\e649";
}
.df-lightbox-wrapper {
position: fixed !important;
top: 0;
bottom: 0;
right: 0;
height: auto !important;
left: 0;
background-color: white;
z-index: 99999;
}
.df-lightbox-controls { float: right;
padding: 5px;
z-index: 1000;
position: relative;
}
.df-lightbox-close {
float: right;
height: 40px;
text-align: center;
font-size: 50px;
cursor: pointer; color: #444; border-radius: 50%; border-color: transparent;
width: 40px;
background-color: transparent;
transition: 0.2s;
-webkit-transition:  0.2s;
}
.df-lightbox-close:hover {
color: white;
background-color: rgba(0, 0, 0, 0.21); border-color: black;
}
.df-lightbox-close:before {
top: 50%;
position: absolute;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
left: 50%;
font-size: 24px;
}
.df-lightbox-wrapper .df-container {
position: absolute !important;
width: 100%;
top: 0;
bottom: 0;
height: auto !important;
}
.df-container.df-xs .df-ui-controls .df-ui-btn.df-ui-next,
.df-container.df-xs .df-ui-controls .df-ui-btn.df-ui-prev { }
.df-container.df-xs .df-ui-controls .df-ui-btn.df-ui-page {
display: none !important;
}
._df_button, ._df_thumb {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
position: relative;
cursor: pointer;
}
._df_button {
padding: 5px 15px;
background-color: #444;
background: #0085ba;
color: white;
font-size: 14px;
border-color: #0073aa #006799 #006799;
cursor: pointer;
border-width: 1px;
border-style: solid;
-webkit-appearance: none;
-webkit-border-radius: 3px;
border-radius: 3px;
white-space: nowrap;
}
._df_thumb { border: none; width: 140px; height: 200px; text-align: center; }
._df_thumb {
cursor: pointer; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
display: inline-block;
transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-webkit-transform-style: preserve-3d;
box-sizing: border-box;
-webkit-transition: 0.2s;
perspective: 1200px;
-moz-perspective: 1200px;
margin: 30px 10px 10px;
-webkit-perspective: 800px;
}
._df_books ._df_thumb, ._df_books .df-dummy {
width: 140px;
height: 200px;
text-align: center;
display: inline-block;
position: relative;
margin: 20px 10px; vertical-align: top;
}
._df_books .df-dummy {
}
._df_book-cover {
background-size: 100% 100%;
height: 100%;
width: 100%;
transform-origin: left;
top: 0;
background-color: #eee;
position: absolute;
overflow: hidden;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
}
._df_thumb ._df_book-title {
bottom: -100%;
position: absolute;
width: 100%;
left: 0;
padding: 5px;
font-size: 12px;
background: rgba(1, 163, 163, 0.87);
background: rgba(60, 60, 60, 0.8);
box-sizing: border-box;
display: block;
color: white;
transition:  0.4s;
-webkit-transition: 0.4s;
opacity: 0;
}
._df_thumb ._df_book-tag {
float: left;
padding: 0 4px 20px;
background-color: rgba(0, 0, 0, 0.26);
text-transform: uppercase;
font-size: 10px;
margin: -15px 0 0 2px;
z-index: -1;
color: rgba(255, 255, 255, 0.8);
position: relative;
}
._df_thumb:hover ._df_book-title,
._df_thumb-not-found ._df_book-title {
opacity: 1;
bottom: 0;
}
._df_thumb:hover ._df_book-title i { }
._df_thumb:hover { }
._df_thumb:hover ._df_book-cover {
-webkit-transform: rotateY(-20deg);
-moz-transform: rotateY(-20deg);
-ms-transform: rotateY(-20deg);
transform: rotateY(-20deg);
box-shadow: 3px 0 12px rgba(0, 0, 0, 0.60);
}
._df_books {
max-width: 960px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 1;
padding: 20px 5px 150px;
}
._df_books-break {
color: rgba(255, 255, 255, 0.3);
font-size: 14px;
letter-spacing: 1px;
font-weight: 600;
margin-top: 25px;
text-transform: uppercase; }
._df_books-break:after {
content: " ";
bottom: 0;
width: 50px;
height: 1px;
background-color: rgba(255, 255, 255, 0.24);
display: block;
margin: 10px auto;
}
.df-page-wrapper {
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
}
.df-container ::-webkit-scrollbar {
width: 8px;
}
.df-container ::-webkit-scrollbar-button {
height: 8px;
}
.df-container ::-webkit-scrollbar-thumb {
background: rgba(0, 0, 0, 0.3);
border: 0 none #ffffff;
border-radius: 100px; }
.df-container ::-webkit-scrollbar-thumb:hover {
background: rgba(0, 0, 0, 0.5);
}
.df-container ::-webkit-scrollbar-thumb:active {
background: rgba(0, 0, 0, 0.5);
}
.df-container ::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.20);
border: 0 none #ffffff;
border-radius: 100px;
}
.df-container ::-webkit-scrollbar-track:hover {
background: rgba(0, 0, 0, 0.2);
}
.df-container ::-webkit-scrollbar-track:active {
background: rgba(0, 0, 0, 0.15);
}
.df-container ::-webkit-scrollbar-corner {
background: transparent;
}
.df-skipTransition {
-webkit-transition: none !important;
-moz-transition: none !important;
-ms-transition: none !important;
transition: none !important;
}
.df-container.df-fullscreen {
height: 100% !important;
max-height: 100% !important;
width: 100% !important;
max-width: 100% !important;
}
.df-container.df-double-internal .df-page-front{
background-position: left;
background-size: cover;
}
.df-container.df-double-internal .df-page-back{
background-position: right;
background-size: cover;
}
.customHtmlAnnotation iframe{
position:absolute;
top:0;
left:0;
width:100% !important;
height:100% !important;
}