.main-contentshop {
padding: 30px 0 70px;
}
.main-contentshop .cp-pagination {
padding-top: 30px;
border-top: none;
}
.filter-select {
margin-bottom:
}
.cp-itempage, .cp-filter-title {
display: inline-block;
margin-left: 10px;
max-width: 48%;
}
.filter-select .chosen-container {
width: auto !important;
max-width: 100%
}
.display-product-option {
overflow: hidden;
}
.display-product-option > li {
float: left;
width: 40px;
height: 40px;
background-color: #ffffff;
border: 1px solid #e5e5e5;
background-position: center;
background-repeat: no-repeat;
text-indent: -999px;
list-style: none;
cursor: pointer;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.display-product-option > li:hover,
.display-product-option > li.selected {
background-color: #ff4949;
border-color: #ff4949;
}
.display-product-option > li.view-as-grid {
background-image: url(//i0.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/grid.png);
}
.display-product-option > li.selected.view-as-grid,
.display-product-option > li.view-as-grid:hover {
background-image: url(//i3.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/grid-active.png);
}
.display-product-option > li.view-as-list {
background-image: url(//i1.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/list.png);
}
.display-product-option > li.selected.view-as-list,
.display-product-option > li.view-as-list:hover {
background-image: url(//i0.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/list-active.png);
} .product .product-thumb {
position: relative;
overflow: hidden;
}
.product .onsale {
display: inline-block;
width: 30px;
height: 30px;
text-align: center;
line-height: 30px;
position: absolute;
top: 10px;
left: 10px;
border-radius: 50%;
color: #fff;
text-transform: uppercase;
font-size: 10px;
z-index: 10;
}
.product .title-product {
margin-bottom: 18px;
}
.product .title-product a {
color: inherit;
}
.product .title-product a:hover {
color: #ff4949;
}
.star-rating {
line-height: normal;
}
.star-rating i {
display: inline-block;
font-size: 13px;
color: #999999;
}
.star-rating .rated {
color: #ffcc00;
}
.product .product-button {
position: relative;
z-index: 2;
}
.product-button a {
width: 35px;
height: 30px;
text-align: center;
line-height: 30px;
color: inherit;
display: inline-block;
position: relative;
}
.product .product-button a .text-bt {
color: #ffffff;
background-color: rgba(0, 0, 0, 0.7);
line-height: 20px;
padding: 0 12px;
text-align: center;
position: absolute;
left: 50%;
bottom: 100%;
white-space: nowrap;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-ms-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
font-size: 11px;
opacity: 0;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.product .product-button a:hover .text-bt {
opacity: 1;
}
.product .product-button a .text-bt:after {
content: "\f0d7";
font-family: 'FontAwesome';
color: #000000;
position: absolute;
left: 50%;
bottom: -11px;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
}
.product .price {
display: table;
margin: 0 auto;
font-size: 30px;
color: #ff4949;
line-height: 100%;
margin-bottom: 20px;
}
.product .price del {
font-size: 13px;
color: #999999;
text-decoration: none;
line-height: 100%;
}
.product .price ins {
text-decoration: none;
float: left;
margin-right: 5px;
}
.product .add-to-cart {
position: relative;
text-align: center;
overflow: hidden;
background-color: #fff;
}
.product .add-to-cart:hover {
color: transparent;
}
.product .add-to-cart::before {
content: "\f291";
font-family: 'FontAwesome';
height: 100%;
width: 100%;
position: absolute;
left: 0;
top: -100%;
color: #ffffff;
line-height: 30px;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.product a.add-to-cart:hover::before {
top: 0;
}
.product .cp-countdown {
position: absolute;
bottom: 0;
left: 0;
text-align: center;
width: 250px;
max-width: 100%;
text-align: center;
height: 30px;
color: #ffffff;
background: #ff4949;
line-height: 30px;
z-index: 1;
white-space: nowrap;
} .product .cp-countdown {
width: 100%;
}
.product-item {
margin-top: 30px;
}
.product .product-inner {
border: 1px solid #e5e5e5;
padding: 9px;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.product:hover .product-inner {
border-color: #ff4949;
border-width: 2px;
}
.product .product-button {
color: #ffffff;
background-color: #ff4949;
width: 100%;
text-align: center;
height: 30px;
position: absolute;
bottom: -30px;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
left: 0;
}
.product .title-product {
font-size: 13px;
font-weight: 300;
}
.product:hover .product-button {
bottom: 0
}
.product .product-button a:hover {
background-color: rgba(0, 0, 0, 0.2);
}
.product .info-product {
text-align: center;
padding: 15px 0;
}
.product .star-rating {
font-size: 13px;
position: relative;
display: inline-block;
margin: 0 auto;
margin-bottom: 10px;
line-height: 22px;
}
.product .star-rating:before,
.product .star-rating > span:before {
content: "\f005\f005\f005\f005\f005";
font-family: 'FontAwesome';
color: #999999;
font-size: 13px;
line-height: 22px;
letter-spacing: 5px;
}
.product .star-rating > span {
font-size: 0;
position: absolute;
display: block;
top: 0;
left: 0;
overflow: hidden;
height: 23px;
}
.product .star-rating > span:before {
color: #ffcc00;
}
.product .add_to_cart_button.loading:after {
-webkit-animation: fa-spin 2s infinite linear;
animation: fa-spin 2s infinite linear;
content: "\f110";
font-family: 'FontAwesome';
margin-left: 5px;
display: inline-block;
}
.product .add_to_cart_button.added {
display: none;
}
.yith-wcwl-add-to-wishlist {
display: inline-block;
float: left;
margin: 0;
}
.product .product-button .clear {
display: none;
}
.product .product-button .compare-button {
display: inline-block;
float: left;
margin: 0 !important;
}
.product .product-button .inner {
display: table;
margin: 0 auto;
}
.product .yith-wcwl-add-to-wishlist > div {
display: inline-block;
float: left;
font-size: 0;
position: relative;
}
.product .yith-wcwl-add-to-wishlist > div img {
display: inline-block;
position: absolute;
top: 50%;
left: 50%;
margin: 0;
margin-top: -8px;
margin-left: -8px;
}
.product .yith-wcqv-button,
.product .compare,
.product .yith-wcwl-add-to-wishlist > div a {
font-size: 0;
width: 35px;
height: 30px;
text-align: center;
line-height: 30px;
color: inherit;
display: inline-block;
position: relative;
padding: 0;
color: #fff;
border-radius: 0;
float: left;
background-color: transparent;
}
.product .yith-wcqv-button:before,
.product .compare:before,
.product .yith-wcwl-add-to-wishlist > div a:before {
font-family: 'FontAwesome';
font-size: 13px;
}
.product .yith-wcqv-button:before {
content: "\f002";
}
.product .compare:before {
content: "\f24d";
}
.product .yith-wcwl-add-to-wishlist > div a:before {
content: "\f08a";
}
.product .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistaddedbrowse a:before,
.product .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistexistsbrowse a:before {
content: "\f00c";
} .product-list {
border-bottom: 1px solid #e5e5e5;
padding-bottom: 30px
}
.product-list:before,
.product-list:after {
display: table;
content: '';
}
.product-list:after {
clear: both;
}
.product .product-thumb img {
width: 100%
}
.product-list .product .product-thumb {
float: left;
width: 370px;
padding: 9px;
border: 1px solid #e5e5e5;
position: relative;
}
.product-list .product:hover .product-thumb {
border-color: transparent;
}
.product-list .product .product-thumb:after {
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
border: 2px solid #ff4949;
opacity: 0;
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
-webkit-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
}
.product-list .product:hover .product-thumb:after {
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.product-list .product {
overflow: hidden;
margin-top: 30px;
}
.product-list .product .info-product {
overflow: hidden;
padding-left: 20px;
text-align: left;
padding-top: 0;
}
.product-list .product .cp-countdown {
left: 9px;
right: 9px;
width: auto;
bottom: 9px;
}
.product-list .product .title-product {
font-size: 18px;
margin-bottom: 10px;
}
.product-list .product .star-rating {
display: block;
margin: 0;
margin-bottom: 10px;
}
.product-list .product .info-product .bottom-info {
border-top: 1px solid #e5e5e5;
padding-top: 13px;
overflow: hidden;
}
.product-list .product .info-product .bottom-info .product-excerpt {
float: left;
width: 73%;
padding-right: 35px;
}
.product-list .product .info-product .bottom-info .product-price-bt {
float: right;
width: 27%;
}
.product-list .product-excerpt {
margin-bottom: 23px
}
.product-list .product .product-button {
left: 9px;
right: 9px;
bottom: -30px;
width: auto;
}
.product-list .product:hover .product-button {
bottom: 9px;
}
.product-list-sidebar .product .product-thumb {
width: 270px;
}
.product-list-sidebar .product .price {
margin-bottom: 10px;
display: block;
} .product-slide.product-grid-2.nav-style2 .owl-nav {
top: -65px;
}
.product-slide.product-grid-2.nav-style2 .owl-nav > div {
font-size: 16px;
color: inherit;
}
.product-slide.product-grid-2.nav-style2 .owl-nav > div:hover {
color: #ff4949;
}
.product-grid-2 .product .product-thumb {
margin-bottom: 10px;
position: relative;
overflow: hidden;
}
.product-grid-2 .product .hover-thumb {
position: absolute;
left: 100%;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.3);
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.product-grid-2 .product:hover .hover-thumb {
left: 0;
}
.product-grid-2 .product .quickview {
width: 36px;
height: 36px;
text-align: center;
background: #ffffff;
color: inherit;
line-height: 36px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
-o-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}
.product-grid-2 .product .quickview:hover {
background: #ff4949;
color: #ffffff;
}
.product-grid-2 .product .info-product {
border: 2px solid #e5e5e5;
padding: 23px;
text-align: center;
-webkit-transition: all 0.3s ease-out 0s;
-o-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
position: relative;
}
.product-grid-2 .product:hover .info-product {
border-color: transparent;
}
.product-grid-2 .product .info-product:after {
content: "";
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
border: 2px solid #ff4949;
opacity: 0;
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
-webkit-transition: all 0.3s ease-out 0s;
-o-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
z-index: -1;
}
.product-grid-2 .product:hover .info-product:after {
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.product-grid-2 .title-product {
font-weight: 300;
font-size: 18px;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 10px;
}
.product-grid-2 .product .price {
font-size: 18px;
font-weight: bold;
margin-bottom: 22px;
}
.product-grid-2 .product-button a {
width: 40px;
height: 40px;
text-align: center;
line-height: 36px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-ms-border-radius: 25px;
-o-border-radius: 25px;
border-radius: 25px;
border: 2px solid rgba(0, 0, 0, 0.05);
color: inherit;
padding: 0;
vertical-align: middle;
}
.product-grid-2 .product-button a:hover {
border-color: #ff4949;
background: #ff4949;
color: #ffffff;
}
.product-grid-2 .product .add-to-cart::before {
display: none;
}
.product-grid-2 .product-button a.add-to-cart {
width: 120px;
}
.product-grid-2 .product-button a.add-to-cart:hover {
font-size: 18px;
}
.product-grid-2 .product-excerpt {
margin-top: 25px;
} .product-grid-3 .product {
margin-bottom: 30px;
}
.product-grid-3 .product .product-thumb {
border: 1px solid #e5e5e5;
padding: 10px;
position: relative;
}
.product-grid-3 .product .hover-thumb {
position: absolute;
bottom: 10px;
left: 10px;
right: 10px;
overflow: hidden;
text-align: center;
color: #ffffff;
height: 40px;
line-height: 40px;
}
.product-grid-3 .product .hover-thumb .price {
float: left;
width: 50%;
height: 100%;
background: #ff4949;
color: inherit;
font-size: 18px;
font-weight: bold;
margin: 0;
line-height: inherit;
}
.product-grid-3 .product .hover-thumb .quickview {
float: left;
width: 50%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
color: inherit;
opacity: 0;
-webkit-transform: translateY(100%);
-ms-transform: translateY(100%);
-o-transform: translateY(100%);
transform: translateY(100%);
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}
.product-grid-3 .product:hover .hover-thumb .quickview {
opacity: 1;
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
}
.product-grid-3 .product .hover-thumb .quickview:hover {
color: #ff4949;
}
.product-grid-3 .product .price del {
font-weight: normal;
font-size: 13px;
text-decoration: line-through;
color: inherit;
}
.product-grid-3 .product .info-product {
padding: 25px 10px 0 10px;
text-align: left;
}
.product-grid-3 .product .title-product {
font-weight: normal;
font-size: 18px;
margin-bottom: 13px;
}
.product-grid-3 .product .star-rating {
margin-bottom: 10px
}
.product-grid-3 .product .product-excerpt {
margin-bottom: 25px;
}
.product-grid-3 .product .product-button {
text-align: right;
color: inherit;
background: none;
}
.product-grid-3 .product .product-button a {
width: auto;
line-height: 40px;
height: 40px;
vertical-align: middle;
}
.product-grid-3 .product .product-button a:hover {
color: #ff4949;
}
.product-grid-3 .product .product-button a.add-to-cart {
line-height: 36px;
padding: 2px 20px;
float: left;
} .product-grid-4 .product .product-thumb {
position: relative;
}
.product-grid-4 .product .product-thumb .product-button {
position: absolute;
right: 0;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.product-grid-4 .product .product-button > a {
display: block;
width: 40px;
height: 40px;
line-height: 40px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
border: 2px solid #e5e5e5;
margin: 10px 0;
background: #ffffff;
}
.product-grid-4 .product .product-button > a:hover {
border-color: #ff4949;
background: #ff4949;
color: #ffffff;
}
.product-grid-4 .info-product {
text-align: center;
padding: 25px;
color: #ffffff;
}
.product-grid-4 .title-product {
font-weight: normal;
font-size: 13px;
color: inherit;
margin-bottom: 10px;
line-height: 20px;
}
.product-grid-4 .title-product > a:hover {
color: inherit;
}
.product-grid-4 .product .price {
font-size: 18px;
font-weight: bold;
color: inherit;
}
.product-grid-4 .product .price del {
font-weight: normal;
font-size: 13px;
color: inherit;
text-decoration: line-through;
}
.product-grid-4 .product .add-to-cart {
color: #ffffff
}
.product-grid-4 .product .add-to-cart:hover {
background: #ffffff;
border-color: #ffffff;
color: #ff4949;
}
.product-grid-4 .product .add-to-cart::before {
display: none;
}
.product-slide.product-grid-4 {
padding-top: 60px;
}
.product-grid-4.dot-style1 .owl-dots {
top: 0;
bottom: auto;
}
.product-grid-4.dot-style1 .owl-dots .owl-dot:hover {
background: #ffffff;
} .main-contentshop .sidebar .title-widget {
margin-bottom: 30px
} .widget-categories-product li .number {
float: right;
font-size: 10px;
color: #999999;
}
.widget-categories-product .cp-acordion.accordion-style2 .ui-accordion-content {
margin-top: -10px
} .widget_price_filter .price_slider_wrapper {
border: 1px solid #e5e5e5;
padding: 25px 18px;
}
.widget_price_filter .price_slider_wrapper .price_slider_amount {
margin-top: 30px;
overflow: hidden;
}
.widget_price_filter .price_slider_wrapper .price_slider_amount .button {
display: inline-block;
}
.widget_price_filter .price_slider_wrapper .price_label {
float: right;
color: #999999;
margin-top: 10px;
}
.price_slider_wrapper .price_label span {
color: #000000;
}
.widget_price_filter .ui-slider-horizontal {
height: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
background: #ff4949;
border: none;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
background: #e5e5e5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
border: none;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle {
border: none;
width: 20px;
height: 20px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
margin-left: -10px;
top: -5px;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle[style="left: 0%;"],
.widget_price_filter .ui-slider-horizontal .ui-slider-handle[style="left: 100%;"] {
background: #555555;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle,
.widget_price_filter .ui-slider-horizontal .ui-slider-handle.ui-state-active {
background: #ff4949;
} .widget-list-products li {
list-style: none;
padding: 10px 0;
display: inline-block;
width: 100%;
}
.widget-list-products li .product-thumb {
float: left;
width: 70px;
}
.widget-list-products li .info-product {
display: block;
padding-left: 90px;
}
.widget-list-products .title-product {
font-size: inherit;
font-weight: normal;
}
.widget-list-products .product .price {
font-size: 18px;
margin-bottom: 0
}
.widget-list-products .product .title-product {
margin-bottom: 5px
} .widget-manufactures .list-manufacture {
list-style: none;
border: 1px solid #e5e5e5;
padding: 18px 20px 18px 25px;
}
.list-manufacture li .number {
color: #999999;
float: right;
font-size: 10px
} .widget-cats-icon .list-cats .item-cat {
border: 1px solid #e5e5e5;
padding: 15px 20px 15px 23px;
margin-bottom: 1px;
font-size: 11px;
}
.widget-cats-icon .list-cats .item-cat a {
color: inherit;
}
.widget-cats-icon .list-cats .item-cat a:hover {
color: #ff4949;
}
.widget-cats-icon .list-cats .icon-cat {
display: inline-block;
width: 50px;
} .item-category {
text-align: center;
margin-bottom: 30px;
list-style: none;
}
.item-category .img-cat {
margin-bottom: -100px;
padding: 0 50px;
}
.item-category .img-cat figure {
overflow: hidden;
}
.item-category .img-cat figure img {
-webkit-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
}
.item-category:hover .img-cat figure img {
-webkit-transform: scale(1.15);
-ms-transform: scale(1.15);
-o-transform: scale(1.15);
transform: scale(1.15);
}
.item-category .info-cat {
background: #ff4949;
color: #ffffff;
padding: 140px 50px 50px;
}
.item-category .info-cat h3 {
color: inherit;
font-weight: 300;
font-size: 30px;
margin-bottom: 20px;
}
.item-category .info-cat .number-item {
font-size: 13px;
}
.item-category .info-cat h3 a {
color: inherit;
}
.item-category .link-cat {
color: #ffffff;
border-color: #ffffff;
}
.item-category .link-cat:hover,
.item-category .link-cat:focus {
background: #ffffff;
color: #ff4949;
border-color: #ffffff;
} .product-detail .product_meta {
margin-bottom: 10px;
}
.product-detail .product_meta > span {
display: block;
}
.product-detail .product-main:after,
.product-detail .product-main:before {
content: "";
display: table;
clear: both;
}
.product-detail .product-main .product-gallery {
float: left;
}
.product-detail .product-main .product-info {
overflow: hidden;
padding-left: 45px;
}
.product-detail .price {
margin: 0;
margin-bottom: 20px;
}
.product-detail .product-gallery {
width: 47%;
}
.has-sidebar .product-detail .product-gallery {
width: 370px;
}
.has-sidebar .product-detail .product-main .product-info {
padding-left: 20px;
}
.product-detail .title-product {
margin-bottom: 10px;
}
.meta-product {
overflow: hidden;
line-height: 20px;
}
.meta-product li {
list-style: none;
display: inline-block;
color: #999999;
border-left: 1px solid #e5e5e5;
padding: 0 10px;
}
.meta-product .title-meta {
color: #000000;
margin-right: 5px;
}
.meta-product a {
color: inherit;
}
.meta-product a:hover {
color: #ff4949;
}
.product-detail .meta-rate .star-rating {
display: inline-block;
vertical-align: top;
margin-right: 10px;
}
.product-detail .meta-rate .meta-product {
display: inline-block;
}
.product-detail .meta-rate {
margin-bottom: 20px
}
.has-sidebar .product-detail .meta-rate {
margin-bottom: 12px
}
.product-detail .excerpt-product {
padding-top: 22px;
border-top: 1px solid #e5e5e5;
margin-bottom: 20px;
}
.has-sidebar .product-detail .excerpt-product {
padding-top: 10px;
}
.product-variable > div {
margin-bottom: 25px;
}
.has-sidebar .product-variable > div {
margin-bottom: 20px;
}
.product-variable .title-op {
font-size: 18px;
color: #000000;
display: inline-block;
min-width: 72px;
font-weight: bold;
}
.product-variable .select2 {
width: 330px !important;
max-width: 100%;
}
.product-variable .select2 {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-ms-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;
border-width: 2px;
padding-top: 6px;
padding-bottom: 6px;
}
.product-variable .select2.select2-container--open {
-webkit-border-radius: 20px 20px 0 0;
-moz-border-radius: 20px 20px 0 0;
-ms-border-radius: 20px 20px 0 0;
-o-border-radius: 20px 20px 0 0;
border-radius: 20px 20px 0 0;
}
.product-variable .select2-container--default .select2-selection--single .select2-selection__arrow {
height: 32px
}
.quantity .label-quantity {
font-size: 18px;
color: #000000;
display: inline-block;
min-width: 72px;
font-weight: bold;
vertical-align: top;
line-height: 36px;
}
.quantity .qty-box {
border: 2px solid #e5e5e5;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-ms-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;
padding: 0 15px;
overflow: hidden;
display: inline-block;
}
.quantity .qty-box input {
border: none;
color: #000000;
padding: 6px 0;
float: left;
background: none;
line-height: 24px;
}
.quantity .qty-box input[type="button"] {
width: 20px;
color: transparent;
}
.quantity .qty-box .input-text {
width: 100px;
text-align: center;
}
.quantity .qty-box .plus {
background: url(//i0.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/qty-plus.png) no-repeat center;
}
.quantity .qty-box .minus {
background: url(//i1.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/qty-minus.png) no-repeat center;
}
.variations_form .quantity {
display: inline-block;
}
.variations_form .add-to-cart {
display: inline-block;
margin-left: 10px;
vertical-align: top;
}
.product-detail .add-to-cart:hover {
color: #ffffff;
}
.product-detail .product-main {
margin-bottom: 65px;
position: relative;
}
.product-detail .owl-carousel.thumbnails {
padding: 0 30px;
margin-top: 10px;
}
.product-detail .owl-carousel.thumbnails a {
padding: 0;
width: 100%;
}
.product-detail .thumbnails .owl-prev,
.product-detail .thumbnails .owl-next {
position: absolute;
top: 50%;
margin-top: -15px;
color: #555555;
}
.owl-carousel .owl-item img {
transform-style: none;
}
.product-detail .thumbnails .owl-prev {
left: 0;
}
.product-detail .thumbnails .owl-next {
right: 0;
}
.product-detail .thumbnails .owl-prev .fa:before,
.product-detail .thumbnails .owl-next .fa:before {
content: "\f104";
font-family: 'FontAwesome';
font-size: 30px;
text-shadow: none;
}
.product-detail .thumbnails {
margin: 0 -5px;
overflow: hidden;
}
.product-detail .thumbnails a {
display: block;
width: 33.33333%;
float: left;
padding: 0 5px;
margin-top: 10px;
}
.product-detail .thumbnails.columns-2 a {
width: 50%;
}
.product-detail .thumbnails.columns-3 a {
width: 33.33333%;
}
.product-detail .thumbnails.columns-4 a {
width: 25%;
}
.product-detail .thumbnails.columns-5 a {
width: 20%;
}
.product-detail .thumbnails .owl-next .fa:before {
content: "\f105";
}
.product-detail .product-tabs .tab-style-1 .ui-tabs-nav::before {
display: none;
}
.product-detail .product-tabs .tab-style-1 .ui-tabs-nav {
padding-left: 0
}
.product-tabs .cp-tab-horizontal .ui-tabs-nav {
width: 220px
}
.product-tabs .cp-tab-horizontal .ui-tabs-panel {
padding-left: 45px;
}
.product-detail .desc-product .img-desc {
float: left;
width: 320px;
}
.product-detail .desc-product .text-desc {
overflow: hidden;
padding-left: 20px;
}
.product-gallery:after, .product-gallery:before {
content: "";
display: table;
clear: both;
}
.product-gallery .main-slide img {
width: 100%;
}
.pr-gallery-vertical {
border: 1px solid #e5e5e5;
padding: 9px;
}
.pr-gallery-vertical .bx-wrapper {
float: left;
margin: 0;
padding-right: 10px;
position: relative;
width: 86.79%;
}
.pr-gallery-vertical #thumb-slide {
float: left;
width: 13.21%;
}
.pr-gallery-vertical #thumb-slide a {
display: inline-block;
margin-bottom: 10px;
width: 100%;
}
.woocommerce-product-gallery {
border: none;
margin: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
}
@media (min-width: 992px) {
.woocommerce-product-gallery {
float: left;
width: 50%;
}
}
.woocommerce-product-gallery {
padding: 9px;
border: 1px solid #e5e5e5;
}
.woocommerce-product-gallery .flex-control-thumbs {
position: relative;
font-size: 0;
line-height: 0;
}
.flex-control-thumbs .owl-prev {
left: 0;
top: 50%;
position: absolute;
font-size: 30px;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.flex-control-thumbs .owl-next {
right: 0;
top: 50%;
position: absolute;
font-size: 30px;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.flex-control-thumbs .owl-nav span {
color: inherit;
margin: 0 5px;
}
.flex-direction-nav a::before {
content: "\f104";
font-family: 'FontAwesome';
font-size: 30px;
color: #555555;
text-shadow: none;
}
.flex-direction-nav a.flex-next::before {
content: "\f105";
}
.product-detail .cp-countdown {
left: 50%;
bottom: 9px;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
}
.product-detail .form-review input[type="text"],
.product-detail .form-review input[type="email"],
.product-detail .form-review textarea {
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
}
.product-detail .form-review > div {
margin-bottom: 20px;
}
.product-detail .form-review label {
font-weight: normal;
}
.product-detail .bottom-info {
overflow: hidden;
}
.product-detail .bottom-info .left-info {
float: left;
width: 50%;
padding: 20px 25px 20px 0;
border-top: 1px solid #e5e5e5;
}
.product-detail .bottom-info .right-info {
float: left;
width: 50%;
padding: 20px 0 20px 25px;
border-top: 1px solid #e5e5e5;
border-left: 1px solid #e5e5e5;
}
.product-variable .value-op {
display: inline-block;
vertical-align: middle;
}
.option-color .value-op a {
display: inline-block;
width: 20px;
height: 20px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
margin: 0 5px;
}
.product-variable .value-op a:first-child {
margin-left: 0
}
.option-color .value-op a.red {
background: #ff4949;
}
.option-color .value-op a.yellow {
background: #ffcc00;
}
.option-color .value-op a.green {
background: #5acd75;
}
.option-color .value-op a.white {
background: #ffffff;
border: 1px solid #e5e5e5;
}
.option-size .value-op a {
font-size: 18px;
text-align: center;
margin: 0 10px;
color: inherit;
}
.product-detail .product-button {
margin-top: 25px
}
.product-detail .product-button a {
color: #999999;
} .cp-product-latest {
padding-top: 40px;
border-top: 1px solid #e5e5e5;
margin-top: 50px;
}
.cp-product-latest > h4 {
margin-bottom: 0
}
.cp-product-latest .nav-style4 .owl-nav {
position: absolute;
right: 0;
top: -35px;
}
.cp-product-latest .nav-style4 .owl-nav > div {
display: inline-block;
position: static;
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
margin-left: 10px;
}
.product-grid.product-slide .product {
margin-bottom: 1px;
margin-top: 30px;
}
.product-detail .quantity {
display: inline-block;
float: left;
margin-right: 10px;
}
.product-type-simple .quantity .label-quantity {
display: none;
}  .product-brand .product-inner {
overflow: hidden;
}
.product-brand .product-inner .product-thumb {
float: left;
width: 58.18%;
}
.product-brand .product-inner .info-product {
float: left;
width: 41.82%;
}
.product-brand .slide-brand {
padding: 30px 10px;
border: 1px solid #e5e5e5;
border-top: none;
}
.product-brand .nav-style3 .owl-nav > div {
background: rgba(0, 0, 0, 0.3);
}
.product-brand .nav-style3 .owl-nav > div:hover {
background: #ff4949;
}
.product-grid .product-brand:hover .slide-brand {
border-width: 2px;
border-color: #ff4949;
}
.product-grid .product-brand:hover .product-inner {
border-bottom-color: #e5e5e5;
border-bottom-width: 1px;
} .cp-service-shop .list-service {
padding: 100px 0 100px 15px;
}
.cp-service-shop .item-service {
overflow: hidden;
}
.cp-service-shop .item-service .icon-service {
width: 100px;
height: 100px;
line-height: 100px;
text-align: center;
font-size: 60px;
color: #ff4949;
position: relative;
border: 1px solid #ff4949;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
float: left;
margin-bottom: 50px;
-webkit-transition: all 0.5s ease-out 0s;
-o-transition: all 0.5s ease-out 0s;
transition: all 0.5s ease-out 0s;
}
.cp-service-shop .item-service .icon-service:after {
content: "";
height: 50px;
width: 1px;
display: block;
background: #ff4949;
margin: -1px auto 0;
}
.cp-service-shop .item-service:last-child .icon-service {
margin-bottom: 0
}
.cp-service-shop .item-service:last-child .icon-service::after {
display: none;
}
.cp-service-shop .item-service:hover .icon-service {
background: #ff4949;
color: #ffffff;
}
.cp-service-shop .item-service .service-info {
overflow: hidden;
padding-left: 35px;
}
.cp-service-shop .item-service .title-service {
text-transform: lowercase;
font-size: 30px;
font-weight: normal;
margin-bottom: 15px;
-webkit-transition: all 0.3s ease-out 0s;
-o-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
}
.cp-service-shop .item-service:hover .title-service {
color: #ff4949;
}
.cp-service-shop .item-service .title-service a {
color: inherit;
}
.cp-service-shop .service-hover {
width: 562px;
height: 562px;
line-height: 562px;
text-align: center;
background: rgba(255, 255, 255, 0.5);
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
display: none;
margin-top: 20px;
padding: 0 15%;
} .page-shoppingcart {
padding: 20px 0 50px;
}
.shop_table {
border: none;
}
.shop_table td, .shop_table th {
border-width: 1px 0 0;
padding: 25px 10px;
}
.shop_table tr th:first-child,
.shop_table tr td:first-child {
border-left-width: 1px;
}
.shop_table tr th:last-child,
.shop_table tr td:last-child {
border-right: 1px solid #e5e5e5;
}
.shop_table.cart {
margin-bottom: 60px;
}
.shop_table td.product-thumbnail {
width: 90px;
}
.shop_table th {
font-size: 18px;
color: #000000
}
.shop_table td.product-remove {
text-align: center;
width: 60px;
}
.shop_table .remove {
width: 20px;
height: 20px;
line-height: 20px;
text-align: center;
color: #ffffff;
background: #ff4949;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
display: inline-block;
}
.shop_table td.product-name a {
display: block;
}
.shop_table td.product-name a.pr-name {
color: #000000;
}
.shop_table .amount {
font-size: 18px;
}
.shop_table .product-subtotal .amount {
font-weight: bold;
}
.shop_table .quantity .qty-box .input-text {
width: 40px;
}
.shop_table tfoot tr td, .shop_table tfoot tr td:last-child {
border-right: none;
border-left: none;
padding-left: 0;
padding-right: 0;
}
.shop_table td.actions div.coupon,
.shop_table td.actions div.button-cart {
width: 50%;
float: left;
}
.shop_table td.actions div.button-cart {
text-align: right;
}
.shop_table input[type="submit"],
.shop_table .button {
padding: 13px 35px;
border: none;
font-weight: bold;
}
.shop_table .checkout-button {
background: #333333;
}
.shop_table .checkout-button:hover {
background: #ff4949;
}
.shop_table .checkout-button .fa {
font-size: 30px;
color: #ffffff;
margin-left: 10px;
vertical-align: middle;
line-height: 24px;
}
.coupon .input-text {
width: 220px;
border-width: 3px;
padding: 10px 25px;
}
.coupon input[type="submit"] {
background: #f4f4f4;
color: #000000;
}
.coupon input[type="submit"]:hover {
background: #333333;
color: #ffffff;
}
.shipping_calculator > h4, .cart_totals > h4 {
margin-bottom: 25px;
}
.form-cart .chosen-container {
width: 100% !important;
color: #999999;
}
.form-cart .chosen-container-single .chosen-single {
padding-left: 20px
}
.form-cart .form-row:after,
.form-cart .form-row:before {
content: "";
display: table;
clear: both;
}
.form-cart .form-row {
margin-bottom: 15px;
}
.form-cart .form-row input {
width: 100%;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
}
.form-cart .form-row .width-50 {
width: 50%;
float: left;
}
.form-cart .form-row .width-50:nth-child(2n+1) {
padding-right: 5px
}
.form-cart .form-row .width-50:nth-child(2n) {
padding-left: 5px
}
.form-cart input[type="submit"],
.form-cart .button {
padding: 13px 35px;
border: none;
font-weight: bold;
width: auto;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
-ms-border-radius: 30px;
-o-border-radius: 30px;
border-radius: 30px;
}
.shipping_calculator .button {
background: #333333;
}
.shipping_calculator .button:hover {
background: #ff4949;
}
div.cart_totals table th {
background: #f9f9f9;
}
div.cart_totals .amount {
font-weight: bold;
}
div.cart_totals .order-total .amount {
color: #ff4949;
}
div.cart_totals .shipping td {
color: #999999
} .page-checkout {
padding: 20px 0 100px;
}
.step-checkout {
overflow: hidden;
border: 1px solid #e5e5e5;
margin-bottom: 40px;
}
.step-checkout .step {
float: left;
width: 25%;
font-size: 18px;
color: #999999;
text-align: center;
padding: 8px 10px;
position: relative;
}
.step-checkout .step.active {
color: #000000;
}
.step-checkout .step:after {
content: "";
border-top: 21px solid transparent;
border-bottom: 21px solid transparent;
border-left: 21px solid #cccccc;
border-right: 21px solid transparent;
position: absolute;
right: -21px;
top: -1px;
z-index: 0;
}
.step-checkout .step:before {
content: "";
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-left: 20px solid #ffffff;
border-right: 20px solid transparent;
position: absolute;
right: -19px;
top: 0px;
z-index: 1;
}
.step-checkout .step:last-child:before,
.step-checkout .step:last-child:after {
display: none;
}
.woocommerce-info > h4 {
margin-bottom: 25px;
}
.form-cart .form-row input[type="checkbox"] {
width: auto;
}
.woo-login .form-login input[type="submit"] {
display: block;
background: #333333;
min-width: 120px;
margin-bottom: 30px;
}
.woo-login .form-login input[type="submit"]:hover {
background: #ff4949;
}
.woo-login .form-login input[name="usename"] {
background: url(//i0.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/icon-use.png) no-repeat 98% center;
}
.woo-login .form-login input[name="password"] {
background: url(//i3.wp.com/www.paralimpico.cl/wp-content/themes/corporatepro/images/icon-password.png) no-repeat 98% center;
}
.checkout {
color: #999999;
font-weight: normal;
}
input[type="checkbox"] {
margin-right: 10px
}
.woo-newcustomer .button {
width: 100%;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
padding: 13px 20px;
margin-bottom: 15px;
font-weight: bold;
}
.woo-newcustomer .bt-guest {
background: #333333;
}
.woo-newcustomer .bt-guest:hover {
background: #000000;
}
.comment {
list-style: none;
}
#reviews .star-rating {
margin-bottom: 0;
}
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
padding: 1em 2em 1em 2em;
margin-bottom: 30px;
position: relative;
background-color: #fafafa;
color: #515151;
border-top: 3px solid #337ab7;
list-style: none !important;
width: auto;
word-wrap: break-word;
}
.woocommerce .woocommerce-error:after,
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:after,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:after,
.woocommerce .woocommerce-message:before {
content: " ";
display: table;
}
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button {
float: right;
font-size: 10px;
display: inline-block;
padding: 0 10px;
color: #fff;
height: 24px;
line-height: 24px;
margin: 0;
}
.woocommerce .woocommerce-error {
border-color: #fcf8e3;
}
.woocommerce .woocommerce-info {
border-color: #dff0d8;
}
#review_form .comment-form-rating .stars {
margin-bottom: 0;
}
#review_form .comment-form-rating .stars a {
font-size: 0;
color: #e1e1e1;
display: inline-block;
border-right: 1px solid #e1e1e1;
padding: 0 10px;
line-height: 10px;
}
#review_form .comment-form-rating .stars a:hover,
#review_form .comment-form-rating .stars a.active {
color: #333;
}
#review_form .comment-form-rating .stars a:first-child {
padding-left: 0;
}
#review_form .comment-form-rating .stars a:last-child {
padding-right: 0;
border: 0;
}
#review_form .comment-form-rating .stars a:before {
font-family: 'FontAwesome';
font-size: 12px;
display: inline-block;
}
#review_form .comment-form-rating .stars .star-1:before {
content: "\f006";
}
#review_form .comment-form-rating .stars .star-2:before {
content: "\f006\f006";
}
#review_form .comment-form-rating .stars .star-3:before {
content: "\f006\f006\f006";
}
#review_form .comment-form-rating .stars .star-4:before {
content: "\f006\f006\f006\f006";
}
#review_form .comment-form-rating .stars .star-5:before {
content: "\f006\f006\f006\f006\f006";
}
table.shop_attributes p {
margin: 0;
font-weight: 400;
}
.summary .product_title {
font-size: 30px;
margin-bottom: 10px;
}
.summary .yith-wcwl-add-to-wishlist {
clear: left;
}
.summary .yith-wcwl-add-to-wishlist > div a,
.summary .compare {
float: left;
margin-top: 20px;
padding: 8px 30px;
text-align: center;
border: none;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
-ms-border-radius: 35px;
-o-border-radius: 35px;
border-radius: 35px;
color: #ffffff;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
display: inline-block;
position: relative;
line-height: 24px;
width: auto;
height: auto;
font-size: 14px;
text-align: center;
margin-right: 10px;
}
.summary .yith-wcwl-add-to-wishlist > div a:before,
.summary .compare:before {
margin-right: 5px;
}
.summary .yith-wcwl-add-to-wishlist > div a:hover,
.summary .compare:hover {
outline: none;
background: #000000;
color: #ffffff;
}
.cross-sells .product-grid.product-slide .product {
margin-top: 15px;
}
.woocommerce-checkout-payment {
background-color: #ebe9eb;
padding: 30px 15px;
margin-top: 15px;
}
.woocommerce-checkout-payment .payment_methods {
margin: 0;
padding: 0;
}
.woocommerce-checkout-payment .payment_methods .wc_payment_method {
list-style: none;
}
#add_payment_method #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
position: relative;
box-sizing: border-box;
width: 100%;
padding: 1em;
margin: 1em 0;
font-size: .92em;
border-radius: 2px;
line-height: 1.5;
background-color: #dfdcde;
color: #515151;
}
#add_payment_method #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before {
content: "";
display: block;
border: 1em solid #dfdcde;
border-right-color: transparent;
border-left-color: transparent;
border-top-color: transparent;
position: absolute;
top: -.75em;
left: 0;
margin: -1em 0 0 2em;
}
#add_payment_method #payment ul.payment_methods li input, .woocommerce-checkout #payment ul.payment_methods li input {
margin: 0 1em 0 0;
}
.woocommerce-checkout-payment .payment_box p {
margin: 0;
}
.woocommerce-checkout-payment .place-order {
margin-bottom: 0;
margin-top: 30px;
}
.woocommerce-thankyou-order-details {
margin-bottom: 30px;
}
.woocommerce-thankyou-order-details li {
list-style: none;
border-bottom: 1px solid #ddd;
padding: 10px 0;
}
.woocommerce-MyAccount-navigation {
width: 270px;
float: left;
padding: 10px 20px;
background-color: #f8f7f7;
}
.woocommerce-MyAccount-navigation ul {
margin: 0;
padding: 0;
}
.woocommerce-MyAccount-navigation ul li {
list-style: none;
}
.woocommerce-MyAccount-navigation ul li a {
display: inline-block;
color: #414141;
padding: 10px 0;
width: 100%;
}
.woocommerce-MyAccount-navigation ul li a:before {
content: '';
display: inline-block;
border: 2px solid #ededed;
background-color: #fff;
width: 7px;
height: 7px;
margin-right: 15px;
}
.woocommerce-MyAccount-content {
overflow: hidden;
padding-left: 30px;
}
.product-variable select {
width: 330px;
max-width: 100%;
}
.product-item-style-2 .group-button {
position: absolute;
left: 100%;
margin-left: -20px;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
z-index: 10;
}
.product-item-style-2 .yith-wcqv-button,
.product-item-style-2 .compare,
.product-item-style-2 .yith-wcwl-add-to-wishlist > div a {
display: block;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
border: 2px solid rgba(0, 0, 0, 0.05);
background: #ffffff;
color: inherit;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-ms-border-radius: 25px;
-o-border-radius: 25px;
border-radius: 25px;
color: transparent;
-webkit-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
text-align: left;
margin: 5px 0;
overflow: hidden;
color: #666;
clear: left;
font-size: 13px;
}
.product-item-style-2 .yith-wcqv-button:hover,
.product-item-style-2 .compare:hover,
.product-item-style-2 .yith-wcwl-add-to-wishlist > div a:hover {
width: 145px;
text-align: left;
}
.product-item-style-2 .yith-wcqv-button:before,
.product-item-style-2 .compare:before,
.product-item-style-2 .yith-wcwl-add-to-wishlist > div a:before {
padding: 0 10px;
float: left;
text-align: center;
line-height: 36px;
}
.product-item-style-2 .yith-wcwl-add-to-wishlist > div a::before {
content: "\f004";
}
.product-item-style-2 .compare:before {
content: "\f292";
} @media (min-width: 992px) and (max-width: 1199px) {
.cp-service-shop .service-hover {
width: 450px;
height: 450px;
line-height: 450px;
margin-top: 55px;
}
.widget-cats-icon .list-cats .icon-cat {
width: 35px
}
.widget-cats-icon .list-cats .item-cat {
font-size: 10px;
padding: 12px 10px 12px 13px
}
.product-variable .chosen-container {
width: 210px !important
}
.has-sidebar .product-detail .title-product {
font-size: 23px;
}
.has-sidebar .product-detail .meta-rate .meta-product {
display: block;
}
.has-sidebar .meta-product li:first-child {
border-left: none;
}
.has-sidebar .meta-product li {
font-size: 12px;
padding: 0 5px;
}
.quantity .qty-box {
padding: 0 10px
}
.quantity .qty-box .input-text {
width: auto;
}
.has-sidebar .product-detail .desc-product .img-desc {
float: none;
margin-bottom: 20px
}
.has-sidebar .product-detail .desc-product .text-desc {
padding-left: 0
}
.widget-tab .cp-tab .ui-tabs-nav li {
font-size: 14px;
}
.product-tabs .cp-tab-horizontal .ui-tabs-panel {
padding-left: 30px
}
.pr-gallery-vertical .bx-controls-direction {
width: 55px;
bottom: 0
}
.product-detail .bottom-info .left-info {
padding-right: 22px;
}
.product-detail .bottom-info .right-info {
padding-left: 22px;
}
.product-tabs .cp-tab-horizontal .ui-tabs-nav {
width: 195px
}
.shop-categories .img-cat {
margin-bottom: -60px;
padding: 0 35px;
}
.shop-categories .info-cat {
padding: 90px 35px 35px
}
.pr-gallery-vertical .bx-controls-direction a {
margin: 0 3px;
}
.product-grid-3 .product .product-button a {
margin-left: 18px
}
.product-grid-3 .product .title-product {
font-size: 16px;
}
}
@media (max-width: 991px) {
.shop_table input[type="submit"], .shop_table .button {
margin-bottom: 10px;
padding: 10px 25px;
}
.coupon .input-text {
margin-bottom: 10px
}
}
@media (min-width: 768px) and (max-width: 991px) {
.cp-service-shop .service-hover {
width: 340px;
height: 340px;
line-height: 340px;
}
.cp-service-shop .list-service {
padding: 40px 0 50px 15px;
}
.cp-service-shop .item-service .icon-service {
width: 80px;
height: 80px;
line-height: 80px;
font-size: 45px;
}
.cp-service-shop .item-service .title-service {
font-size: 25px;
margin-bottom: 10px
}
.cp-itempage, .cp-filter-title {
margin-left: 4px;
}
.product-list .product .info-product .bottom-info .product-excerpt {
width: 100%;
padding-right: 0
}
.product-list .product .info-product .bottom-info .product-price-bt {
width: 100%;
}
.product-list .product .product-thumb {
width: 350px
}
.product-list .product-excerpt {
margin-bottom: 18px
}
.product-list .price {
margin-bottom: 10px
}
.product-list .product .product-button {
display: inline-block;
margin-left: 15px;
margin-top: 5px;
vertical-align: top;
}
.product-list-sidebar .product .product-thumb {
width: 100%;
float: none;
margin-bottom: 20px
}
.product-list-sidebar .product .info-product {
padding-left: 0
}
.has-sidebar .product-detail .product-gallery {
width: 100%;
margin-bottom: 20px
}
.quantity .qty-box .input-text {
width: 40px;
}
.product-detail .desc-product .img-desc {
float: none;
margin-bottom: 20px;
max-width: 100%
}
.product-detail .desc-product .text-desc {
padding-left: 0
}
.widget-tab .cp-tab .ui-tabs-nav li {
font-size: 14px;
}
.product-tabs .cp-tab-horizontal .ui-tabs-panel {
padding-left: 30px
}
.product-tabs .cp-tab-horizontal .ui-tabs-nav {
width: 170px
}
.pr-gallery-vertical .bx-controls-direction {
position: relative;
left: 0;
bottom: 0
}
.product-detail .product-main .product-info {
padding-left: 20px
}
.product-detail .meta-rate {
margin-bottom: 10px;
}
.product-detail .excerpt-product {
padding-top: 10px
}
.product-detail .bottom-info .left-info {
padding: 15px 10px 15px 0
}
.product-detail .bottom-info .right-info {
padding: 15px 0 15px 10px
}
.quantity .qty-box {
padding: 0 10px
}
.quantity .label-quantity, .product-variable .title-op {
min-width: 60px
}
.product-variable > div {
margin-bottom: 20px
}
.pr-gallery-vertical .bx-wrapper {
padding-right: 0;
width: 100%;
}
.pr-gallery-vertical #thumb-slide {
width: 100%
}
.pr-gallery-vertical #thumb-slide a {
width: 60px;
margin-bottom: 0;
margin-top: 10px;
}
.pr-gallery-vertical .bx-controls-direction {
bottom: auto;
left: 0;
position: absolute;
top: 50%;
width: 100%;
}
.pr-gallery-vertical .bx-controls-direction a.bx-prev {
position: absolute;
left: 0;
-webkit-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}
.pr-gallery-vertical .bx-controls-direction a.bx-next {
position: absolute;
right: 0;
-webkit-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}
.shop-categories .info-cat {
padding: 85px 35px 35px
}
.shop-categories .img-cat {
margin-bottom: -60px;
padding: 0 35px;
}
.shop-categories .info-cat h3 {
font-size: 25px;
}
}
@media (max-width: 767px) {
.filter-select .text-right {
text-align: left;
}
.cp-itempage, .cp-filter-title {
margin-left: 0;
margin-top: 10px;
max-width: none;
}
.product-list .product .product-thumb {
width: 100%;
margin-bottom: 20px;
float: none;
}
.product-list .product .info-product {
padding-left: 0
}
.product-list .product .info-product .bottom-info .product-excerpt {
width: 100%;
padding-right: 0
}
.product-list .product .info-product .bottom-info .product-price-bt {
width: 100%;
}
.product-list .product .product-button {
display: inline-block;
margin-left: 15px;
margin-top: 5px;
vertical-align: top;
}
.product-detail .product-gallery, .has-sidebar .product-detail .product-gallery {
width: 100%;
margin-bottom: 20px
}
.product-detail .desc-product .text-desc {
padding-left: 0
}
.meta-product li:first-child {
border-left: none;
}
.meta-product li {
font-size: 12px;
padding: 0 5px;
}
.quantity .qty-box .input-text {
width: 40px;
}
.product-variable .chosen-container {
width: 210px !important;
}
.quantity .qty-box {
padding: 0 15px;
}
.product-detail .add-to-cart {
padding-left: 15px;
padding-right: 15px
}
.product-tabs .cp-tab-horizontal .ui-tabs-nav {
width: 100%;
float: none;
}
.product-tabs .cp-tab-horizontal .ui-tabs-panel {
padding-left: 0
}
.product-detail .desc-product .img-desc {
float: none;
width: 100%;
margin-bottom: 20px
}
.product-detail .product-main .product-gallery {
float: none;
}
.product-detail .title-product {
font-size: 23px;
}
.pr-gallery-vertical .bx-controls-direction {
display: none;
}
.product-detail .product-main .product-info, .has-sidebar .product-detail .product-main .product-info {
padding-left: 0;
}
.product-detail .bottom-info .right-info {
padding: 20px 0;
border-left: none;
width: 100%
}
.product-detail .bottom-info .left-info {
padding: 20px;
width: 100%;
}
.shop_table thead {
position: absolute;
left: -9999px
}
.shop_table, .shop_table thead, .shop_table tbody, .shop_table tfoot, .shop_table th, .shop_table td, .shop_table tr {
display: block;
}
.shop_table td, .shop_table th {
padding: 15px 5px;
}
.shop_table td {
padding-left: 45%;
position: relative;
border: none;
border-bottom: 1px solid #e5e5e5;
}
.shop_table tr {
margin-bottom: 30px
}
table tr:last-child td, table tr:last-child th {
border-bottom: 1px solid #e5e5e5;
}
.shop_table tr th:last-child, .shop_table tr td:last-child {
border-right: none;
}
.shop_table td.product-remove, .shop_table td.product-thumbnail {
width: 100%;
}
.shop_table td::before {
color: #000000;
font-size: 18px;
content: attr(data-title);
left: 0;
position: absolute;
text-align: center;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
}
.shop_table td.actions div.coupon, .shop_table td.actions div.button-cart {
width: 100%;
float: none;
}
.coupon .input-text {
width: 180px;
padding: 10px 20px
}
.shop_table input[type="submit"], .shop_table .button {
padding: 10px 20px
}
.step-checkout {
border: none;
}
.step-checkout .step {
width: 100%;
text-align: left;
border: 1px solid #e5e5e5;
margin-bottom: 10px;
}
.step-checkout .step::after, .step-checkout .step::before {
display: none;
}
.woocommerce-info {
margin-bottom: 30px;
}
}
@media (max-width: 480px) {
.cp-product-latest .nav-style4 .owl-nav > div {
padding: 6px 15px;
margin-left: 5px;
}
}